[2018-06-18 15:18] herazul commented on #1569
How many Gigabyte of data is the necessary training data ? (i mean the data we need to train a new network can't be that long ago, 10x128 training games can't be valuable now for example)
The total GB of 15*192 games + ELF games ?
Honnestly it may be doable to just torrent it, if we several hundred peoples ready to autogtp every day, we might have also enough people to host data ourselves.
For exe

[2018-06-18 15:23] gcp commented on #1569
A full window is about 20G-30G IIRC.

The problem is that it evolves a few times a day so it's not very fit for torrenting. The storage server that broke was very nice because I could update it almost incrementally with rsync.

At worst I'll rent a dedicated server with a big HDD for a while.

[2018-06-18 15:25] gcp commented on #1569
To make it clear, the data for old networks doesn't change any more so this you can torrent. But of course if you're trying to beat the last network, you want the data for the last network, and this gets a bit more messy.

[2018-06-18 15:25] roy7 commented on #1553
Obligatory concerned comment that a much smaller visit count in training games might remove LZ's learned ability "read" ladders, vs ELF's "avoid" ladders.

[2018-06-18 15:28] herazul commented on #1569
Yeah it would not be as practical, but it would be possible to create a new torrent on a schedule like on every 2 days. It would maybe be acceptable of a delay to do training experiments.

Renting a server could be doable too, do not hesitate to create a go fund me or something like it to help with money, i think many of us would donate a little to help with renting.

[2018-06-18 15:42] SebastienFaurite commented on #1553
@roy7  are you sure ELF is always avoiding ladders ?
I mean is it possible for a network to see if it is interesting to read the ladder or simply ignore it ?
Like human do : if there is no stone on the other side of the board, you don't read it, you simply know it is good. But if there are multiple stones, you have to carefully read it completely.
So maybe ELF is just avoiding unnecessary reading.

[2018-06-18 15:42] Friday9i commented on #1553
Thanks for your clarification @gcp!
I'm trying to make a synthesis of the optimal threshold approach (on #1524) but true, the impact is not mathematically provable and possibly not massive... It may still be nice, bit I understand your point.
And happy to know that v=3200 is under review, waiting a lot what you will propose ; -). Maybe a mix of v=800 to generate a lot of games quickly, and a propo

[2018-06-18 15:46] herazul commented on #1553
i was thinking : if training a 10x128 on the current 15x192 games windows gives a way better 10x128 net than the one we trained then, we can conclude that to have the best possible net for our current personal hardware, a company with an insane amount of computing power could train an insanely good net of 160x1024 for example and then generate a big game windows with like 1 millions playouts with

[2018-06-18 15:53] Friday9i commented on #1553
@herazul: I proposed earlier something around that ;-). In fact, we could test it by training a 10x128 net (or even a smaller one) from current selfplay games, and see how it compares to the best 10x128 net to get the definitive answer! Unfortunately I'm a mathematician, not a programer, so not in a position to do it by myself...

[2018-06-18 16:15] tapsika commented on #1553
I think if LZ peaks at lower levels than other bots, that should be investigated and debugged.

For the various tweaks and options everybody randomly suggests, creating an experimental branch where 10-20% of the computing power is directed to seems like a good way to start. Then many of these ideas could be tried, and what works can be adopted back.

For the lower peaks: I'm not sure how much stre

[2018-06-18 16:24] Eddh commented on #1566
My understanding is that for this gain you need CUDA, and it would imply a change in the license of LeelaZero.

[2018-06-18 16:30] #1564 closed

[2018-06-18 16:44] as0770 commented on #1559
Just tried to compile v0.15, and indeed it doesn't work anymore. Something has changed here, I'll take a look. Thanks.

[2018-06-18 16:44] #1559 closed

[2018-06-18 17:15] Friday9i commented on #1524
Following @herazul comment (from #1553), you'll see below I fully took that into account the _real_ vs _measured_ distribution of networks strength!

Here is a synthesis of the global approach:
1) I started from a distribution of strength of new nets vs the current net.
We don't know that distribution: we just have the history of _measured_ strength (thanks to @stephenmartindale), not the history

[2018-06-18 17:31] barrtgt commented on #1569
Is there room for improvement with SWA?

[2018-06-18 17:40] nmcle commented on #1553
I'd be very interested in a 0.5komi network that can play with handicap stones!
Much prefer that over a 40x256 block network, as the 15x192 is already very strong and a 20x256 would be strong enough.

I really like the LeelaMaster networks to play against too.

No idea how to train a 0.5komi handicap network, but it seems to be a good idea to use 2 networks of different strength and do selfplay ga

[2018-06-18 18:43] wonderingabout commented on #1553
about 0.5 komi, is it not possible to play handicap games at 7.5 komi ?
since lz is already trained on 0.5 komi, i think making it understand and learn to play handi at a komi it knows may be actually easier ?
also, it would avoid the need to fork the 7.5 komi current branch

[2018-06-18 19:08] herazul commented on #1524
I don't understand this part :
**Because we don't have better info, and because the random noise is 0 on average, it's reasonable to make the hypothesis that the measured distribution is "quite comparable" to the true distribution, hence, it's a quite good proxy for the true distribution of strength (of new nets vs current net) seen in the previous months.**

How do you acount for the variance ? M

[2018-06-18 19:46] Friday9i commented on #1524
@herazul : let's suppose the _true_ strength (after an infinite number of match games!) of new nets is an arbitrary distribution, eg a gaussian with a mean of 0.4 and a variance of 0.1. What will be the _measured_ strength after 400-games matches? It will be a gaussian with a mean of 0.4 and a variance a bit larger, probably around 0.12 or 0.15 (I could compute it, but it's painful, sorry!).
More

[2018-06-18 19:59] herazul commented on #1524
@Friday9i What i don't understand is :
Let's say you have a distribution of nets (tested with an infinite amount of test match) with a mean of 50% WR and a 10% variance. Then you take a 50% gating and the training will obviously be faster with no downside because you will have no worse net in the training process.
Now do the same thing with 400 test match : you will have almost the same distributi

[2018-06-18 20:19] PhilipFRipper commented on #1524
To be fair, a mathematically specialized? person should look at it instead of me, or most of us.

People around here are quite empirical.  So best bet is to recruit someone who is willing to test the idea on a small net for you, Friday9i.  I would offer myself, but I'm even less useful than everyone else.  I read every single post, but I'm concerned with go, and not particularly good with computer

[2018-06-18 20:19] LRGB commented on #1569
@gcp FYI, bjiyxo released v15 of his 256x20 network a few days ago. It hasn't been queued yet.

[2018-06-18 20:28] lightvector commented on #1524
@herazul - With 50% gating and 400 test matches you will definitely accept false positives. The claim is exactly that with 50% or 52% gating, you will have _few enough_ false positives that you will gain strength faster because you also lose fewer genuinely good nets and this will more than compensate. If you do the math, this is true under an idealized model like the one Friday9i tested (and his

[2018-06-18 20:53] PhilipFRipper commented on #1524
oo, just a quick question, why does the effectiveness with 60% gating end up lower than no-gating in your example?  That's non-intuitive to me.  Don't have to answer!  Just curious how that works out.

[2018-06-18 20:57] Friday9i commented on #1524
Just corrected a mistake I did, graph is updated above ; -)
And here is the last version of the Excel (correcting the error)

[Gating v4.xlsx.gz](https://github.com/gcp/leela-zero/files/2112959/Gating.v4.xlsx.gz)

[2018-06-18 20:59] lightvector commented on #1524
@PhilipFRipper - Under @Friday9i's test scenario 60% gating rejects 90%+ of good nets too by being too strict, slowing improvement down so much that it becomes slower than no-gating in that scenario.

Since the discussion seems to be running in circles a bit now - I think nobody is contesting that within the assumptions of such a model it's robustly the case that 52% is better than 55%, everyone w

[2018-06-18 21:00] Friday9i commented on #1524
indeed @lightvector : -)

[2018-06-18 22:03] Marcin1960 commented on #1524
Perhaps someone with a strong PC can test the idea on a small fast net, one with gating 55% and other with 51%?

[2018-06-18 22:50] roy7 commented on #1113
Test match in queue.

[2018-06-18 23:03] afalturki commented on #1553
@gcp How about experimenting with using [Global Pooled Properties](https://github.com/lightvector/GoNN#global-pooled-properties-dec-2017) or [Parametric ReLUs](https://github.com/lightvector/GoNN#parametric-relus-feb-2018)

@lightvector has shown they provide real benefits with no performance cost and GPP might be helpful toward achieving a multi-komi solution. Maybe a new 256x20 network can be tr

[2018-06-18 23:28] Crazyeight101 commented on #1553
@nmcle A zero network trained to do handicap might be interesting and have broad appeal, but for the vast majority of players (<4d), Leela 11 should be a more than sufficient tool for handicap games and reviews.  On the other hand, for players like myself who play at or very close to a professional level, there's extreme interest and value in having an open source network trained to be as strong a

[2018-06-19 00:05] l1t1 commented on #1569
the webpage shows the training games of 256x20  v15 is 8.121M, it is too big, as bjiyxo syas it was up to lz 146

[2018-06-19 00:16] roy7 commented on #1569
I wasn't sure what number to use. Should I change it to read 7690965?

[2018-06-19 00:41] pangafu commented on #1563
Hello every one~ I did leela master weight and I notice it has been test today, thanks @roy7 @pondturtle .
Very pleasure to see mix with the human sgf,  the weight is not very weaker than the only zero one, when you play with leela master, you will see it more move like human does.

[2018-06-19 01:53] bjiyxo commented on #1569
@gcp Can you post the new raw training data (including 147, 148, and ELF) on Google Drive or Dropbox? Then I can train a new 20b catching up the latest 15b.

[2018-06-19 04:30] l1t1 opened #1570 "why 5839 isn't promoted"
http://zero.sjeng.org/match-games/5b28639d48e3e5462ad2d6e7

405 | 55.06% | e426802d26571fc904aad776f2245662 | 5839eb77 | B+Resign | 280 | 9.3 minutes | sgf | 6 | 16
-- | -- | -- | -- | -- | -- | -- | -- | -- | --

[2018-06-19 04:32] l1t1 commented on #1570
149 | 2018-06-19 02:59 | 5839eb77 | 192x15 | 0 | 2 | 8079333
-- | -- | -- | -- | -- | -- | --

[2018-06-19 04:32] #1570 closed

[2018-06-19 05:04] pnprog opened #1571 "How to get policy network values?"
Hi!

I wonder if there is a way to get the policy network values for a given board position. Something like a GTP command that would return the values for all free intersections. Is that the purpose of the **heatmap** command?

[2018-06-19 05:48] alreadydone commented on #1571
Yes, divide the numbers in heatmap by 1000, IIRC.

[2018-06-19 06:28] bjiyxo commented on #1569
@carljohanr Yes, including ~ 15k ELF games.

[2018-06-19 07:06] pondturtle commented on #1563
Thank YOU for making it. Pretty neat to have something more human style to play against.

It tends to be very agressive though. I wonder if that is because human games are tygem sourced. Do you think there could be different, more didactic play style if games were sourced from more civilized place like pandanet for example?

[2018-06-19 07:31] 22nsuk commented on #1563
@pangafu
I wonder if you can share raw sgf files with training files.
Apart from this, I am using your network very well. Thanks!

[2018-06-19 07:55] gcp commented on #1571
Correct.

[2018-06-19 07:55] #1571 closed

[2018-06-19 08:08] ThorAvaTahr commented on #1569
You attribute the slow progress to lack of ELF games in the window. However, if that is the case, i am rather worried by the rate of progress intrinsically our training pipeline.

It looks as though our training hardly inproves strength, while apparently there is still a lot of room for Improvement. Of course I understand that learning Goes faster with a good tutor, but it seems to have nearly sta

[2018-06-19 08:13] gcp commented on #1553
@afalturki I was never able to get a consistent improvement for other activation functions when BatchNorm layers are in use. That is, you can get a miniscule improvement with ELU, PReLu, RPReLU etc but it's really a wash when you try it over longer terms. Without BatchNorm ELU works very well. I noticed ELF had PReLU code but disabled it. I personally would not spend any more time on this.

What w

[2018-06-19 08:18] gcp commented on #1553
I would think that a 0.5 komi network can be trained with no changes to the current method (though I'd use v=800, T=1 and maybe start with 256x20 immediately). Of course the game outcomes will be lopsided but as long as the scores are not too extreme I would still expect it to work.

[2018-06-19 08:21] gcp commented on #1553
I assume you're talking about running it at very low visits, so the solution to get more strength and be closer to AGZ should be obvious here.

[2018-06-19 08:30] alreadydone commented on #1553
@gcp Wouldn't you add komi as an input feature as suggested in #1344? Then the network has a chance to generalize to other komi values as well. Plus we can augment training data by switching black/white and the sign of komi.

[2018-06-19 08:32] gcp commented on #1553
Yes, that would work. I wouldn't expect too much generalization aside from what is used in training though. But I guess you might do some mix of 0.5, 5.5, 6.5 and 7.5.

[2018-06-19 08:36] gcp commented on #1553
If you look at the graph of A(G)Z training, there's a steep initial part and then a very, very long near flat-lined part.

Reproducing the "near flat-lined" part in a distributed project is not going to be a lot of fun.

[2018-06-19 08:39] alreadydone commented on #1553
Augmentation would provide training data for four values of komi even though we only produce games with two komi values. I imagine this would give the network enough hints for it to generalize.

[2018-06-19 08:40] gcp commented on #1554
I would use the next branch instead of some experimental one (even if it did not seem much worse).
Try to make sure the used weights are at least as good as the official ones.

There have been some suggestions to fiddle with max threads on machines with a lot of GPU.

[2018-06-19 08:41] gcp commented on #1554
We have no way of doing this right now. Indeed if someone enters something based on ELF weights directly, LZ would be expected to lose to it.

[2018-06-19 09:02] herazul commented on #1524
@Friday9i Ok got it.
So yeah if you do account for false positive in a form of "sometimes lost ELO" because of variance that go into negative WR part of your distribution, we are back on the original bias that false positives impact training, but it's not accounted for, because we can't predict how that will impact training.
That was a useless questioning on my part, sorry !

What i was thinking a

[2018-06-19 09:03] pnprog commented on #1571
Thanks a lot!

[2018-06-19 09:13] alreadydone commented on #1553
Actually it seems reasonable to
+ first add the komi input feature
+ augment current training data as described
+ use the network after training on such data to generate 0.5 komi games

[2018-06-19 09:22] Crazyeight101 commented on #1553
@gcp I'm playing against it running it on my pc hardware, and it's getting between 100k-500k visits per move, based on the type of position.

The gap I was referring to isn't necessarily the gap in the strength between LZ and AGZ, it's the gap left by Deepmind by not giving us an engine to play against, despite showing us how strong it could be.  Maybe one day, in a few years or whatever time peri

[2018-06-19 09:31] alreadydone commented on #1553
It's a bit hard to measure progress on 0.5 komi though; in match settings black will almost always lose, dragging the overall winrate towards 50% even for networks that differ a lot in strength ... maybe some swap rule is in order. I am very curious what are balanced first moves under 0.5 komi, by the way.

@Crazyeight101 It would be great if you could compile a list of traps LZ would fall into, p

[2018-06-19 10:37] l1t1 commented on #1554
are there any method to compute the percentage of  a weight is base on another?

[2018-06-19 11:03] pcengine commented on #1553
@Crazyeight101
With all due respect, I have found it hard to believe that a human player can beat LZ RELIABLY with 100k-500k per move.  So my question is, which network did you play against?

       Two months ago, there was an AI match between Leelazero and another very strong Chinese made AI (Golaxy). Before that match, that Chinese AI (Golaxy) gave one stone handicap (0.5 komi) to  30 different

[2018-06-19 11:10] herazul commented on #1553
@Crazyeight101
Yeah same, i would love to see game where you managed to win against LZ, with the insane level of LZ, that must be very interesting.

[2018-06-19 11:15] herazul commented on #1553
@pcengine

Yeah that's surprising, considering that with that amount of playouts LZ can win 2 stone handicap games against pros.
I would already consider it amazing to win an even game versus a 20k playouts LZ, and would love to see the games.

[2018-06-19 11:17] lightvector commented on #1553
Not anywhere close to a comparable number of playouts, but apparently Leela Zero still messes up ladders with 1000 playouts, badly enough that an amateur 4d-7d (depending on the online server) can still beat it sometimes in an even game. https://lifein19x19.com/forum/viewtopic.php?p=232587#p232587

[2018-06-19 11:20] john45678 commented on #1569
Did anyone notice that each time GCP posted about the current situation and what the plans were...we'd have a PASS in the next few hours :)

[2018-06-19 11:22] herazul commented on #1553
@lightvector : Yeah but it's a specific case, LZ is already very strong at 1000 playout, unless you make it fail a specific situation like ladder, and it's not EZ at all.
But these mistakes wont happen with a reasonable amount of playouts, i don't even know if you can make it fail a ladder at 10k or 20k playouts.
1000 playouts is nothing, i can almost have that on my smartphone...

[2018-06-19 11:37] Tsun-hung commented on #1554
@gcp Do you attend the competition youself? We all expect you could come to China(at least this is my thought, I'm confident that LZ can enter the final)

[2018-06-19 11:48] Friday9i commented on #1553
I made 4 games of LZ148 against Elf (3200 visits for ELF), while giving it 2 stones! And ...:
- 100K and 200K visits were not enough for LZ, it almost worked as it went up to ~45% winrate in the 200K game, but it collapsed in the end
- 400K and 1M (!) visits were enough, it managed to beat ELF while giving it 2 stones!
Knowing that ELF is pro level at 3200 visits (around 3500 Elo on CGOS), I'm als

[2018-06-19 12:18] Friday9i commented on #1524
@herazul No problem!
In line with your second point. It's not possible to make a model because it has an unknown impact on the distribution of new nets. But qualitatively, we see that when we come closer to the peak of a net (eg currently with the 15x192 nets), there is less an less nets above 50% winrate while on the opposite, many new nets are stronger than the current best one, with frequent pr

[2018-06-19 12:53] TFiFiE commented on #1569
Not to be a spoilsport, but the irony of that disappears with the knowledge these posts tend to be accompanied with a lowering of the learning rate.

[2018-06-19 13:18] l1t1 commented on #1569
maybe lz148 is better than 149, as it beat 20 weights and last 20k games, while 149 only beat 1 weight, and is beaten by 2 weights and only last 6000 games

[2018-06-19 14:04] gcp commented on #1569
The learning rate was not changed, fixing the dump of the window was enough (for now).

[2018-06-19 14:06] gcp commented on #1569
I'll update the #167 topic with some temporary links.

[2018-06-19 14:09] gcp commented on #167
train_10bc1042.zip (not 100% complete, but mostly)
https://mega.nz/#!np4xGAwC!vG4V7RQ7_ckTWaU4oC3hpKo4yaUE6-_yJwF1CBwfLUw

[2018-06-19 17:56] bjiyxo commented on #167
@gcp Thank you for your upload. I think it should be ok to upload incomplete both d0187996.zip and 62b5417b.zip because there have not been any training data released for two weeks.

[2018-06-19 20:10] diadorak commented on #1554
@Tsun-hung
I am less optimistic. LZ is much stronger now. But since LZ's strength is well-known now, other closed-source programs could hardcode "traps" specifically designed for LZ...

[2018-06-20 00:07] pangafu commented on #1563
@pondturtle @22nsuk
My human sgf is mainly download from https://github.com/yenw/computer-go-dataset
I used AI, Professional, TYGEM, Tom and CGOS game, mix with leelazero sgf.

G01 - G03 : 90% leelazero sgf + 10% human style game
G04 - G08 : 80% leelazero sgf + 20% human style game
G09 - G13 : 70% leelazero sgf + 30% human style game
The training set is keeping change by random sample in each 256k

[2018-06-20 00:48] Tsun-hung opened #1573 "2018 Chinese weiqi congress"
2018 second CITIC Securities Cup World intelligent  Open Go Tournament will be held from 13rd Aug to 15th Aug. More detail is given in the link.
http://sports.sina.com.cn/go/2018-06-19/doc-iheauxvz7250271.shtml
http://www.chinaweiqi.net/

[2018-06-20 01:17] FeoDoT90 commented on #1499
I think the size of the nets is not important, but the quality of the food provided for the net is important. For every million game samples, it will take another two million games to train, so that the network can significantly Refine its coefficients. In my opinion, this is logical, because here the key role is played by science - statistics. Therefore it is impossible to adopt the accumulated e

[2018-06-20 01:20] FeoDoT90 commented on #1553
I think the size of the nets is not important, but the quality of the food provided for the net is important. For every million game samples, it will take another two million games to train, so that the network can significantly Refine its coefficients. In my opinion, this is logical, because here the key role is played by science - statistics. Therefore it is impossible to adopt the accumulated e

[2018-06-20 02:34] l1t1 commented on #1113
I have a question.
the lz weight of same training amount strengtg are vary, so some promoted and some failed, or all wights of one round  are failed.
how do you choose a best of 20b 256 weight of speical training amount ?

[2018-06-20 02:41] l1t1 commented on #779
@evdwerf
I cannot visit gmail.com or  https://translate.google.com/toolkit/list?hl=en in my area,
I'm still interested in the work, could you attach a csv or excel file of  the English : Chinese strings? thanks.

https://github.com/pnprog/goreviewpartner/blob/master/translations/zh.po is the goreviewpartner's tranlslate file

[2018-06-20 02:50] l1t1 commented on #1573
too many match now, this is very similar with tencent's.

[2018-06-20 03:48] bjiyxo commented on #1113
I choose the one with smaller mse loss and larger accuracy.

[2018-06-20 05:14] kityanhem commented on #1553
@pcengine
Sr but on KGS even some 8d japanese beat petgo3 4-0.

[2018-06-20 06:48] gcp commented on #167
train_62b5417b.zip
https://mega.nz/#!SpIXzarb!PFtKq5aT032AwjqVnbhygzAI4P07-MfHNMOXyfX5T2E

[2018-06-20 07:19] alreadydone commented on #1553
@gcp Hmm, embarassingly it took me one day to realize what "the network inputs are side-to-move already" really means: it means that
+ when the black-to-move plane is 1 and white-to-move plane is 0, the current player assumes 7.5 komi;
+ when the black-to-move plane is 0 and white-to-move plane is 1, the current player assumes -7.5 komi.

But then maybe we can just use the color planes as the komi

[2018-06-20 07:20] Eddh commented on #1553
I think it's only a few thousands playouts per move for petgo3

[2018-06-20 07:35] jkiliani commented on #1553
Using the color planes as komi planes sounds interesting, but the exact way to normalise those planes would have to be planned carefully. Leela Chess had problems resulting from an input plane that wasn't normalised (the 50-move rule plane).

[2018-06-20 07:46] pnprog commented on #1571
Hi!

Sorry to reopen this, I find some discrepancy between the heat map values and the policy network values as reported in **stderr** during `genmove` command.
To illustrate this, I am using Leela Zero v0.15 on network 149

So in the gtp shell, here is the result of the `showboard` command to help identify the intersections coordinates:

[code]
So I run LeelaZero, and send the `heatmap` command,

[2018-06-20 07:47] alreadydone commented on #1553
We can say currently it's normalized so that 0 ~ 1 corresponds to -7.5 ~ 7.5 komi. Larger komi would be extrapolation, but maybe useful for better handicap performance. It's usually reasonable to expect that interpolation works well IIRC.

[2018-06-20 07:53] alreadydone commented on #1571
The result of heatmap isn't cached and genmove used a different symmetry? Note that the empty board is fully symmetric.

[2018-06-20 07:54] pcengine commented on #1553
@kityanhem

LZ still has some big weakness like semeai and seki.

Are you aware the strength differences between a few thousands playout and 100k-500k playouts per move?  As many have pointed out, it's very easy to settle the issue by providing some sgf files. Many people would be interested to see those **BIG WEAKNESS** at 100k-500k playouts per move. Since someone has claimed that he can RELIABL

[2018-06-20 08:00] herazul commented on #1553
@kityanhem there was a thread on petgo3 : https://github.com/gcp/leela-zero/issues/1501
this seems to be kinda specific to petgo3, i don't think usual LZ well configured has any big weakness, or i would like to see them too (excluding ladder or specific situations with very low playouts)

[2018-06-20 08:00] odeint commented on #1553
Petgo3 is LZ on a GTX1060 so people can still beat it using LZ on a 1080, or ELF.

[2018-06-20 08:03] pauple commented on #1539
I see. I ran the submodule init and update.

With boost I got to this point before I couldn't get cmake to agree anymore. Thinking back, I probably have installed some versions of boost from source in the past. It's been several years now so I'm not completely sure about this, but I recall fighting against boost earlier as well.

[code]

Thanks for the help.

[2018-06-20 08:11] Hersmunch commented on #1553
There’s an couple of comments about interpolating for different Komi here https://github.com/gcp/leela-zero/issues/1221#issuecomment-382535040

[2018-06-20 08:13] pnprog commented on #1571
@alreadydone thank for your reply!

`The result of heatmap isn't cached and genmove used a different symmetry?`
Does that mean that the values from the heat map are wrong?

`Note that the empty board is fully symmetric.`
I don't understand that one: To me, the result of heat map on the empty board does not look symmetric at all.

[2018-06-20 08:51] alreadydone commented on #1571
No, it's intended that LZ applies a random symmetry (rotation or reflection before feeding the board position into the neural net). However, it's strange that you get different probabilities from heamapt and from genmove; I'd expect the result of heatmap be cached and used by genmove directly.

I think if you do `heatmap all` you'll find from eight heatmaps one that matches the percentages. For th

[2018-06-20 08:56] Friday9i commented on #1553
My computer currently plays a game of LZ150 @ 500K visits against ELF @ 1000 visits, giving it 3 stones!!
And... LZ150 may well win the game as it is now coming close to a 50% win rate (ELF still at 70%+ win rate) in mid-game. Result tonight (with the game & detailed files of moves, depth of analysis, etc...).
Knowing ELF @ 1000 visits is about pro level, it's another hint to show that LZ@500K vis

[2018-06-20 09:04] l1t1 commented on #1556
![screenshot_2018-06-20-16-58-13-0732119940](https://user-images.githubusercontent.com/23301704/41648565-da4699d6-74ab-11e8-93e1-6bd9882ad84f.png)
![screenshot_2018-06-20-16-57-51-1549513776](https://user-images.githubusercontent.com/23301704/41648567-dac739ec-74ab-11e8-88ba-3e64e75ea6a8.png)
820 4g 2n/s elf weight

[2018-06-20 09:05] l1t1 commented on #779
I test on my phone
https://github.com/gcp/leela-zero/issues/1556

[2018-06-20 09:08] herazul commented on #1556
So what is better to play on smartphone ? GridMaster or AQ ?

[2018-06-20 09:11] alreadydone commented on #1553
So the color plane interpolation idea is not new and mentioned here: https://github.com/Chicoryn/dream-go/issues/25#issuecomment-381417656
The list of input features look attractive and one may explore whether adding them improves small net strength when trained on recent data.

@Crazyeight101 did say 100k-500k per move based on the type of position.

[2018-06-20 09:11] gcp commented on #167
train_d0187996.zip
https://mega.nz/#!WwolyawD!UrdNNu1ZyA8YPEOcIKCCWqwwel6O7xFd5j2OYGIBvOg

[2018-06-20 09:39] Nazgand commented on #1535
I have tested this, and q+Enter now works with the -s option, so I will submit a patch pull request.

[2018-06-20 09:48] marcocalignano commented on #1535
No that is wrong you want q_Enter even without the other options.

[2018-06-20 10:41] 2ji3150 commented on #1569
The selfplay games of Elf are going to 25k. Will we train a super ELF (19*224) for replacing ELF to generate new better selfplay game?

[2018-06-20 10:50] l1t1 commented on #1556
new version  http://www.flygo.net/bbs/forum.php?mod=viewthread&tid=106968&extra=page%3D1&mobile=2

[2018-06-20 11:13] pcengine commented on #1553
@Friday9i
Thank you for providing emprical evidence explaining how unlikely for a human player  to beat current LZ.

It may be an older version of LZ: if it is around LZ100/LZ120, that seems credible.

Well, if your read his comments, you can easily  see that  he is quite eager to learn newest and strongest moves possible. Hence, it is very difficult for me to imagine that such type of player woul

[2018-06-20 11:48] Friday9i commented on #1553
@pcengine: yeah, I share your view. @alreadydone: same, I saw that part, but maybe he played 100K games and 500K games and he made a shortcut, not impossible.
All in all, I'm sceptical, but I still suppose that he said what he said in good faith. If we don't get additional info from him, then it may not be entirely true...

[2018-06-20 12:08] l1t1 commented on #1569
the elf self play will hit 250k games today, will @gcp stop elf play tomorrow?

[2018-06-20 12:16] l1t1 commented on #167
for text file,7z with ppmd compress best

[2018-06-20 12:20] l1t1 commented on #167
a wight has a zip file is a good idea

[2018-06-20 15:06] hydrogenpi commented on #1553
@Crazyeight101

Each of the gen 2 TPU's consists of 180 TeraFLOPS for a total of 720 TeraFLOPS...
The matches via Haylee that were on 4x of Nvidia V100 used OpenCL, so they did not even take advantage of its Tensor deep learning modules. So roughly what Leela Zero had to work with was actually merely about 5 TeraFLOPS per V100 for a total of 20 TeraFLOPS... maxed out.

So in the Master/AlphaGoZero

[2018-06-20 15:33] typohh opened #1575 "Replace UCT with small neural network."
UCT algorithm for choosing which branch to explore next appears to be somewhat sub optimal in practice. As an easy proof of concept I trained a very small neural network to replace it and in the synthethic test bench (which mimics go settings) it outperforms both leelas version of UCT as well as standard UCT. Ill be tinkering it with some more and will plug it in leela to see if it improves the re

[2018-06-20 15:34] bjiyxo commented on #1553
@hydrogenpi You man try to analyze Master 55 games with LZ 2m playouts, then you will find we are really far behind Master. I already did that, and found out lz still has lots more to work on.

[2018-06-20 15:43] Eddh commented on #1575
How did you train it ?

[2018-06-20 15:46] Friday9i commented on #1553
I noticed that too: LZ has no clue of the position in top AG or AZ games, it does not manage to get a clear view of who's winning/losing, and IIRC it's sometimes not even clear when 1 player resigns...
So LZ is already superhuman, but it is still (very) far from top AG/AGZ/AZ level! That's just amazing

[2018-06-20 15:53] Eddh commented on #1553
We can expect ELF to be close to AGZ 20 block strength, but AGZ 20 block is hundreds of elo weaker than AG master or AGZ 40 block so it's not that surprising.

[2018-06-20 16:01] Friday9i commented on #1575
Oops, Deepmind dit it (again)! Is it the same approach? https://deepmind.com/research/publications/learning-search-mctsnets/
Anyway, that's extremely interesting @typohh, waiting for more results from you ; -))).

[2018-06-20 16:05] typohh commented on #1575
@Eddh

For testbench built a multiarmed bandit, one exploration of a branch returns the average winrate based on x samples, and provided policy is based on results from y exploration at each branch. Then searched for x and y whose accuracy matches those provided by leela in actual game positions (so as to mimic practical policy and value network errors). Run for z rounds (0-3200). Finally use same

[2018-06-20 16:17] Nazgand commented on #1535
I tested @alreadydone's commit https://github.com/alreadydone/lz/commit/d0f054a9ea14eab66b7ea58efbff2770fc05d146 , and it worked as desired. I tested it with LeelaWatcher, and LeelaWatcher does not show games which are continued. This (probably) can be fixed by having all the moves from move 1 output before generating new moves.

Another related problem is that closing LeelaWatcher midgame loses t

[2018-06-20 16:25] Hersmunch commented on #1575
https://github.com/gcp/leela-zero/issues/1109 may be of interest

[2018-06-20 16:27] Friday9i commented on #1575
@typohh not sure to follow you when you say "thx, good to know I don't have to explore this idea any further"... On the opposite, it's a promising idea tested by Deepmind and giving good results, hence that would be a pity not to explore it more, isn't it?

[2018-06-20 17:20] alreadydone commented on #1553
https://deepmind.com/blog/alphagos-next-move/ "... a special set of 50 AlphaGo vs AlphaGo games, played at full length time controls."

From AGZ paper:

"In our evaluation, all programs were allowed 5 s of thinking time per move; AlphaGo Zero and AlphaGo Master each played on a single machine with 4 TPUs; AlphaGo Fan and AlphaGo Lee were distributed over 176 GPUs and 48 TPUs, respectively. 

The r

[2018-06-20 17:44] bjiyxo commented on #1553
On Aja Huang's Facebook,

So its 2 mins per move.

[2018-06-20 18:32] TFiFiE commented on #1569
So it's normal to expect a point at which a network of a given size can still be improved but only by training games that come from a larger network?

[2018-06-20 18:57] Eddh commented on #1575
@typohh I understand the goal is to essentially replace uct_select_child() in LeelaZero by a NN, but I don't understand the details of your NN. The inputs are the position, and for each possible move, the q value of each move, the number of visits, and the policy right ? But then for the training target I don't understand. Ideally it should be a "bandit network", picking the move which would yield

[2018-06-20 19:57] Friday9i commented on #1569
@TFiFiE it's not true theoretically as, after an infinite time of efficient selfplay training, the net should go to its maximum performance. So training it with a larger net or not, it should reach its maximum.
But practically speaking, the convergence is slowing down exponentially... Hence, it's probably more efficient to train a larger net to get stronger games and then train the smaller net wit

[2018-06-20 20:08] typohh commented on #1575
@Eddh in uct_select_child replace the way value is calculated for each child. Use the same inputs just pipe them into an NN to get the value instead of uct formula. Then yrain for long term rewards. Which means balance exploration and exploitation in the best possible way with the information available.

[2018-06-20 20:28] marcocalignano commented on #1535
@Nazgand Can you test it even without LeelaWatcher?

[2018-06-20 21:50] Eddh commented on #1575
OK I understand better. I'm curious how well it would fare in play.

[2018-06-20 22:31] alphaladder commented on #1569
@2j3150 elf is just a helper for LZ. Why we need to trained super Elf II ?

But we do need to enlarge our network for a better LZ in order to beat and swallow the elf weight.

[2018-06-20 23:02] pcengine commented on #1563
@pangafu Could you please check your google drive? It seems there are only E-series and W-series left. I couldn't see any weights of G-series. Thanks again.

[2018-06-20 23:38] l1t1 commented on #1556
for Chinese user, as GridMaster doesn't support Chinese language now, it's better to use AQ.

[2018-06-21 00:02] l1t1 commented on #1556
the AQ android edition auther says only support arm64-v8a cpu now

[2018-06-21 01:13] l1t1 commented on #1556
![2018-06-21_091548](https://user-images.githubusercontent.com/23301704/41692525-5d68cdb6-7533-11e8-9702-765127028ef2.png)
add one weight file

[2018-06-21 01:31] Tsun-hung commented on #1575
It sounds a novel work, could it be a effective modification to improve the strength of LZ?

[2018-06-21 01:53] ryouiki commented on #1569
2j3150 means, since we have good training set(>250k) to enhance ELF itself, we could try to train better-ELF separately. If we would get better-ELF net, it may accelerate LZ training too.

[2018-06-21 03:29] pangafu commented on #1563
@pcengine
G-series is still there~ please reload your web browser

[2018-06-21 03:34] pcengine commented on #1563
@pangafu Thanks, I refreshed my browser and it's back. It must be my browser's problem.

[2018-06-21 03:44] godmoves commented on #1555
![image](https://user-images.githubusercontent.com/25997471/41696773-6618f5b6-7548-11e8-9ca2-15a807493d0d.png)
Anyone has the same issue？

[2018-06-21 04:17] l1t1 commented on #1554
is that true?

There are 11 AIs from all over China, Japan, Korea, Europe and the United States that will compete in the competition, including exquisite art, octopus, star array, and northern lights from China, AQ, AYa, Raynz from Japan, Dolbaram and Baduki from Korea, and from Belgium. Leela Zero and ELF OpenGo from the United States.

---
共有遍布中日韩和欧美的11款AI将出征本次大赛，包括来自中国的绝艺、章鱼、星阵、北极光，来自日本的AQ、AYa、

[2018-06-21 07:34] Marcin1960 commented on #1555
"Recent 10 Matches" What if more than 10 matches were won by the reigning net?

I know, it is obvious for the people who know the project that to access this net one can click
on any match line, containing its name. But this page is also for the curious who came to have a look.

 I find it inelegant and awkward.

[2018-06-21 07:36] l1t1 commented on #1554
confirmed http://weiqi.qq.com/news/9438.html

[2018-06-21 07:40] alreadydone opened #1576 "Clear NNCache and search tree when komi is changed?"
I implemented [the idea](https://github.com/gcp/leela-zero/issues/1553#issuecomment-398649576) of [using color planes for komi](https://github.com/Chicoryn/dream-go/issues/25#issuecomment-381417656) at https://github.com/alreadydone/lz/tree/patch-16 (diffs: https://github.com/gcp/leela-zero/compare/next...alreadydone:patch-16). The winrate as a function of komi isn't very reasonable ~~(changes slo

[2018-06-21 07:45] alreadydone commented on #1553
"Color planes for komi" implemented, see https://github.com/gcp/leela-zero/issues/1576.

[2018-06-21 08:50] alreadydone commented on #1554
CITIC champion CNY 450,000 ... https://share.yikeweiqi.com/gonews/detail/id/18281/type/QQReadCount

[2018-06-21 09:01] diadorak commented on #1554
Octopus and Northern Lights... New Go AIs keep coming out of nowhere.

[2018-06-21 11:16] TFiFiE commented on #1576
I think you meant to do:
[code]

[2018-06-21 12:18] TFiFiE commented on #1013
Even when dynamically aggregated, this kind of territory estimation is too "smudged" for my taste to work satisfactorily. It's important to note that the policy and value share the same computation until right before the end and that could very well explain the distortion.

My advice for people would be to lobby for #98 to become part of the next architectural change, because I can't imagine a bet

[2018-06-21 12:50] pangafu commented on #1575
I think it maybe work, we can try~

[2018-06-21 12:51] pangafu commented on #1563
@pcengine please enjoy human style go game.

[2018-06-21 13:05] TFiFiE commented on #1575
The neural network better not be too expensive or it might very well be an improvement with equal visits, just not with equal time (like #883).

[2018-06-21 14:10] Nazgand commented on #1535
I suppose I was not clear enough. I did test it both with and without LeelaWatcher. Without LeelaWatcher, q+Enter worked as desired both with and without the -s option.

[2018-06-21 15:53] ryouiki commented on #1557
Chart updated
- LZ#149, LZ#150 matches.
- LeelaMaster G13 anchor.

[2018-06-21 16:17] TFiFiE commented on #1557
Can you give us the numbers in raw text? One could use those to estimate the self-play inflation factor.

[2018-06-21 16:29] pnprog commented on #1571
Thanks! I did not know about `heatmap all`, I will have a try :)

[2018-06-21 16:29] ryouiki commented on #1557
LZ# | vs   LZ#117 | vs   LZ#121 | vs   LZ#130 | vs LM   G13 | vs   20Bv15 | vs ELF | vs LZ#133 | vs   20Bv14
-- | -- | -- | -- | -- | -- | -- | -- | --
121 | 58.0% |   |   |   |   | 7.0% |   |  
122 |   |   |   |   |   |   |   |  
123 |   |   |   |   |   |   |   |  
124 | 61.0% |   |   |   |   |   |   |  
125 | 62.5% | 61.5% |   |   |   |   |   |  
126 | 71.0% |   |   |   |   |   |   |  
127 | 73.

[2018-06-21 16:35] TFiFiE commented on #1557
If it's 200 games per match, why are some winrates not a multiple of 0.5%?

[2018-06-21 17:55] Hersmunch commented on #1013
I agree. I had a quick go at applying the weights for the value head on a per square basis to the value output data of the network. https://github.com/Hersmunch/leela-zero/commit/8d79c94f1fe4dca713cb42d7a5588ceb74ccc9d1
I mean I very naively equally divided the bias between all the squares. It didn't help much.

From what I could make out it looks like the data contains more than just a value base

[2018-06-21 18:14] WYVYW commented on #1013
One goal is to improve LZ. An estimation option (just as any other improvement which brings LZ closer to be a training tool) could lure more people to use LZ and support LZ with computing power.
I am no coder, so I don't know how much work is involved, but if it is not a big deal to activate that option, I would implement it, even if it is not reliable.

[2018-06-21 18:19] alreadydone commented on #1576
@TFiFiE Good catch! So many conclusions in the original post are invalid. I made the corrections and now am testing.

[2018-06-21 18:56] TFiFiE commented on #1013
I'm going to have to disagree there, because if the estimation is clearly off to the point it's even obvious to weak players, then that will reflect badly on the engine, regardless of all disclaimers of its speculative nature.

[2018-06-21 20:24] Nazgand commented on #1537
This problem could be solved by having, for each pair of vertices, a bit input to the neural net about whether a pair of vertices contains stones of the same group. A 19 by 19 board has 361*360/2=64980 pairs of vertices.

[2018-06-21 20:46] lightvector commented on #1537
Probably just adding a chain pooling layer solves this easily, and would be better than dectupling the size of the input and attempting to modify the architecture of the convolutional layers to be able to use this input. Chain pooling already is a bit too costly to be promising though.

And neither chain pooling nor telling the neural net about connectivity pairs will work the moment you add some

[2018-06-21 22:59] jokkebk commented on #1554
Seems quite likely that ELF OpenGo will beat at least Leela Zero...

[2018-06-21 23:38] john45678 commented on #1554
A top 4 finish for LZ would be great (considering how strong the competition is) , and you never know, with a bit of luck...

[2018-06-21 23:51] diadorak commented on #1554
AQ, AYa, Raynz , Dolbaram and Baduki should be weaker than LZ. Only Fine Art and Elf are clearly stronger.

[2018-06-22 00:15] l1t1 commented on #1569
elf self play games is over 250k.

7933493 total self-play games (20519 in past 24 hours, 625 in past hour, includes 250252 ELF).

[2018-06-22 00:41] pcengine commented on #1557
@ryouiki Could you please add testing LeelaMaster G9?  It seems G9 is a bit stronger than G13...

[2018-06-22 00:45] xss801 commented on #1573
Welcome GCP to China, there's a lot of your fans here

[2018-06-22 02:21] l1t1 commented on #1554
https://github.com/pytorch/ELF/issues/62#issuecomment-399297069
see what ELF team says

[2018-06-22 05:02] l1t1 opened #1578 "A player used Leela computer software to assist him in the game"
http://pandanet-igs.com/communities/euroteamchamps/403

[2018-06-22 05:03] #1578 closed

[2018-06-22 06:30] l1t1 commented on #1554
live log for the preliminaries of the game. June 13, 10:00
http://duiyi.sina.com.cn/m/

[2018-06-22 06:43] wonderingabout commented on #1569
most of you seem only to think about how to make lz stronger instead of appreciating the progress of the project as it is
i think i can say confidently that lz will never reach alphago level, and even for elf level its still far beyond

also, 250k is just an estimation, it could be 260k, 300k, 350k, depending on how things go
and i still believe 192x15 has more room for improvement, provided we wa

[2018-06-22 07:19] ryouiki commented on #1557
@pcengine

Recent networks beat G9 easily.
LM G9 seems much weaker than G13.

LZ# | vs LM G09 | vs LM G13
-- | -- | --
149 | 63.5% | 48.5%
150 | 68.5% | 54.5%

[2018-06-22 07:45] pondturtle commented on #1575
Why not try different sizes of "helper" network and testing them against LZ as is and each other? that way we could try to determine where the sweetspot is.

[2018-06-22 09:41] l1t1 commented on #1554
at least gcp had better use a hide weight stronger than all public lz weight ,include 20*256, except elf.

[2018-06-22 10:58] TFiFiE commented on #1557
If not every match consists of 200 (unique) games, maybe (also) give it as "wins-losses" or "wins/games" to prevent the unnecessary bit of information loss.

[2018-06-22 11:57] marcocalignano commented on #1535
OK then @alreadydone can you do a PR with that change?

[2018-06-22 12:22] john45678 commented on #1554
@diadorak  "Only Fine Art and Elf are clearly stronger."

And Golaxy.

[2018-06-22 13:08] l1t1 commented on #1554
http://weiqi.qq.com/news/9439.html

Tian Yuandong: We have been encouraging everyone to use it since it was open source. This one and a half months I believe that many teams have found ways to improve. For example, adding some extra conditions to prevent ladder bugs will make OpenGo stronger. This competition will enable everyone to use our platform and that is to achieve the goal. The team still

[2018-06-22 14:09] lp200 commented on #1554
PARANOiA-Rebirth in CGOS is probably AQ.
That's pretty strong.

[2018-06-22 14:46] Marcin1960 opened #1579 "Is there a way to force testing another move earlier?"
I get not too many playouts (slow PC) and usually the engine tests only one move.

Is it posssible to force testing of another move (in the code), let us say after 2000 playouts?

[2018-06-22 17:24] alreadydone commented on #1535
https://github.com/gcp/leela-zero/pull/1580 created.

[2018-06-22 17:34] alphaladder commented on #1569
@wonderingabout I disagree with you and your suggestion is disturbing to normal LZ training.

[2018-06-22 18:01] Mardak commented on #1489
kuba shared this screenshot of lizzie with leelaz wanting to play a 2nd line move B14:
![image](https://user-images.githubusercontent.com/438537/41791470-ade1d346-760a-11e8-8f96-70d6e626cde2.png)

The win rate for white at this point is around 6%, and with the patch I provided earlier https://github.com/gcp/leela-zero/issues/1489#issuecomment-396862014, here's the result of the limited search to t

[2018-06-22 18:30] merlinpan commented on #1579
On a related note, is it possible to learn a confidence interval (in addition to the winning rate) on the value head?  This can feasibly be used to better balance exploration vs. exploitation, which may be useful for the above.

[2018-06-22 20:11] l1t1 commented on #1554
http://txwq.qq.com/act/mgame/index.html webpage Chinese

[2018-06-22 21:06] alreadydone commented on #1554
The official English name of "Northern Lights" (北极光) is Aurora. It's a registered participant of ICGA as well:

    Game Type
        Go 19x19
    Program Name
        Aurora
    Author(s)
        Qi Zhang
        Dongbin Zhao
    Operator
        Qi Zhang
    Organization
        Institute of Automation, Chinese Academy of Science
    Country
        China
    Introduction
        A not very fait

[2018-06-22 21:53] wonderingabout commented on #1569
@alphaladder

sorry but you're dreaming..
with current computing power, it would take 10-20 years to reach alphago level for lz, and by that time other tools like elf may be released, so again strength race, while enjoyable, should not be lz's main objective, but rather as an "open" source project, it should focus on being useful for the go community, amateurs as well as pro scene.
and for alphago

[2018-06-22 22:06] bjiyxo commented on #1569
Don't take ELF for granted. FAIR is not a go company. We might need to reach AlphaGo Zero by ourselves. As far as I'm concerned,I will always support the Go AI which will constantly improve itself，no matter how long it takes.

[2018-06-23 01:12] diadorak commented on #1554
Elf is run by Tencent... Since their program does not support multiple GPUs, Elf could indeed be a weaker one in the competition.

https://github.com/pytorch/ELF/issues/62
"Our understanding is that the tournament organizers plan to deploy the Fox server's ELF OpenGo version in the tournament. Thus, the hardware and software used will be whatever is running on Fox at the time of the tournament (ha

[2018-06-23 01:48] l1t1 commented on #1554
the match began
http://duiyi.sina.com.cn/gibo_new/live/viewer.asp?sno=27#

[2018-06-23 02:04] l1t1 commented on #1554
![2018-06-23_100347](https://user-images.githubusercontent.com/23301704/41804631-a19444b4-7689-11e8-9133-6cdaec7d5010.png)
fineart vs golaxy

[2018-06-23 03:16] diadorak commented on #1554
LZ won the first game against AQ.

[2018-06-23 03:19] l1t1 commented on #1554
http://duiyi.sina.com.cn/gibo/new_gibo.asp  sgf

[2018-06-23 05:38] Splee99 commented on #1489
I'm not able to check my modification in Lizzie, but I did let LZ think 30 minutes for the game shown in the first picture above. B14 indeed got a lots of visits, but I'm not quite sure about the logic that LZ still choose to play C6. The code is copied from the next branch with #1435 and #1514 modification. See the following log.

[code]

[2018-06-23 07:15] l1t1 commented on #1554
who are they?
![yhqa-heirxye5181029](https://user-images.githubusercontent.com/23301704/41806878-325342b8-76b5-11e8-855e-51c95857831b.jpg)

http://sports.sina.com.cn/go/2018-06-23/doc-iheirxye5187956.shtml

[2018-06-23 08:21] Marcin1960 commented on #1579
@merlinpan "learn a confidence interval" "better balance exploration vs. exploitation"

I would like to test various values, so I need a simple kludge in the code that I can tinker
with.

[2018-06-23 08:21] l1t1 commented on #1554
round3 lz vs octopus
http://duiyi.sina.com.cn/gibo_new/live/viewer.asp?sno=25

![2018-06-23_162106](https://user-images.githubusercontent.com/23301704/41807412-502e8974-76be-11e8-9db6-454fac844b25.png)

[2018-06-23 09:36] ihavnoid opened #1582 "Runtime selection of fp16/fp32"
https://github.com/ihavnoid/leela-zero/tree/runtime_fp16

While working on NN code restructuring, I created a patch where we can choose from fp16 and fp32 net evaluation as a command line option (instead of compile time option).  Didn't put a PR yet because this will create a PR that is too huge, so my intention is to create a series of PRs...

[2018-06-23 09:59] l1t1 commented on #1554
lz vs octopus http://duiyi.sina.com.cn/cgibo/20186/ai3-18062315.sgf

[2018-06-23 10:52] l1t1 opened #1583 "why 192 match is running again after 256 match finished?"
just now
![2018-06-23_185022](https://user-images.githubusercontent.com/23301704/41808844-491bcb14-76d3-11e8-8541-5b128b31798b.png)
a few hours ago
![2018-06-23_185218](https://user-images.githubusercontent.com/23301704/41808851-79c357f0-76d3-11e8-95fe-e0654ecab9ea.png)

[2018-06-23 10:54] l1t1 commented on #1583
is it because this game?
336 51.49%  8429b562a03dfcb8ad1f4476619f04af 71e55c75 W+Resign 203 616.2 minutes  sgf 1 16

[2018-06-23 12:01] l1t1 commented on #1583
it fail again
145 : 156 (48.17%)	301 / 400	fail
2018-06-23 00:53	71e55c75
 VS  2b80a9db
188 : 173 (52.08%)	361 / 400	fail

[2018-06-23 13:52] l1t1 commented on #1554
round 4 Aurora vs leelazero
lz win http://duiyi.sina.com.cn/cgibo/20186/ai4-1806235.sgf

[2018-06-23 14:12] l1t1 commented on #1554
world cup group g, Belgium defeated Tunisia 5-2

[2018-06-23 15:02] fohristiwhirl commented on #1554
What's producing these SGF files? They are not strictly speaking legal, because the opening parenthesis "(" needs to be followed immediately by a semi-colon ";"

[2018-06-23 15:20] john45678 commented on #1554
Just after trying to load the SGF's on Sabaki and failed

[2018-06-23 15:48] Splee99 commented on #1489
One thing is weird in the above log. The total visits is 184223, but the visits for B14 is 311623 and the total playouts is 323506. Why is the total visits so much less than the total playouts and the B14 visits?

[2018-06-23 19:13] pnprog opened #1584 "Questions: How to understand the 8 heatmaps from "heatmap all""
Hi!

This question is a follow up of that previous question #1571

So I am looking for a way to collect (through GTP) the policy network values for arbitrary intersections. I was told to have a look at the heatmap. Problem is that the heatmap values are incorrect (or are they? this is discussed in #1571).

I was told to check the 8 maps from the GTP command `heatmap all` and so I did. From what I

[2018-06-23 20:48] Hersmunch commented on #1584
There are 8 different ways in which the same board position can be presented as an input to the neural network. These are the 4 rotations and their mirrored symmetries. Each heatmap is generated from one of these.

The order of the heatmaps is always the same (corresponding to one hardcoded order of the symmetries) but when a board position is input to the network during play/simulations, one of t

[2018-06-23 20:55] l1t1 commented on #1554
how to fix the sgf, see https://github.com/pnprog/goreviewpartner/issues/64

[2018-06-23 23:29] diadorak commented on #1554
LZ is tied with Elf at No. 2 after round 4. Both bots lost one game to Fine Art and won the other three.

In round 5, LZ will play Elf.

[2018-06-23 23:50] john45678 commented on #1554
Yes, in round 4 ELF beat Golaxy, thats good news for LZ.

[2018-06-24 00:13] l1t1 commented on #1554
**a method to illegal sina sgf**
edit 2 batch files, place them to the directory which saves those sgfs.

b.bat
---
for %%f in (%1) do call f.bat %%f

f.bat
---
@echo (;GM[1]FF[4]CA[gb2312] >>%1_fix.sgf
for /F "eol=(" %%a in (%1) do @echo %%a >>%1_fix.sgf

then run b.bat with a Wildcard
at that directory
[code]
and each _fix.sgf is legal

[2018-06-24 00:52] Crazyeight101 commented on #1569
@wonderingabout I'm curious how your komi/difficulty mod would be implemented.  It seems like it would be something that would either take several hours or several years to do, depending on whether or not you need to train new networks for it.  If it requires training multiple networks for a variety of komi/handicap settings, it would likely take much longer to do than reaching AGZ level with one

[2018-06-24 00:56] alreadydone commented on #1584
@pnprog I now understand why you always got the matching results on the first move but not necessarily on the second move. Starting from an empty board:
`heatmap` -> the empty board (with random symmetry applied) is fed into the neural network, and the result is cached.
`genmove b` -> tree search is performed, using the prior probabilities (displayed) from the cached result. After tree search, the

[2018-06-24 01:34] alreadydone commented on #1489
@Splee99 You are using my partial (50%) backup mod without pseudo-backup, so it's expected that the displayed visits are only half of actual visits. So the actual number of visits is about 368k, which is larger than the number of playouts (visits added during this `genmove`, 323506), so everything seems working.
B14 has prior lower than 0.5% so by your mod it will never be played unless all moves

[2018-06-24 02:31] l1t1 commented on #1554
![2018-06-24_102943](https://user-images.githubusercontent.com/23301704/41815318-7e35e1b2-7756-11e8-8ad5-a9a6082780ec.png)

LZ vs Elf

[2018-06-24 03:07] Splee99 commented on #1489
@alreadydone I just did the modification above on a fresh copied next branch and also included your get_pure_eval() adjustment. The resulting Lizzie output is quite clean.

![test](https://user-images.githubusercontent.com/35020997/41815478-fe0d6a3a-7720-11e8-972f-a50d4328ea8b.png)

[2018-06-24 03:50] Friday9i commented on #1554
LZ just won!!!

[2018-06-24 03:53] l1t1 commented on #1554
lz enters top 8 no problem
![2018-06-24_115019](https://user-images.githubusercontent.com/23301704/41815684-d5894ff2-7761-11e8-8990-1b19287c734d.png)

[2018-06-24 06:51] l1t1 commented on #1554
round 6 lz vs golaxy, lz win

[2018-06-24 06:52] l1t1 commented on #1554
round 6 lz vs golaxy, lz win

[2018-06-24 07:07] wonderingabout commented on #1569
@Crazyeight101

i didnt do the exact math but here are a few facts :

-deepmind said it took 3 days for alphagozero to be superhuman
(we can forget with time so : https://qbi.uq.edu.au/blog/2017/10/google-alphago-zero-masters-game-three-days)
- you can say it took approximately 6 months for lz to reach same level.
then, alphago zero trained for 37 more days, so 3 days was 3/40 = 7,5% of total trai

[2018-06-24 07:17] l1t1 commented on #1554
[r6_sgf.txt](https://github.com/gcp/leela-zero/files/2130555/r6_sgf.txt)
round6 sgf

[2018-06-24 07:53] l1t1 commented on #1554
![2018-06-24_155114](https://user-images.githubusercontent.com/23301704/41817080-680e2e62-7783-11e8-8bc3-9650695ef36b.png)
round 7 lz vs baduki

[2018-06-24 08:02] l1t1 commented on #1569
leelazero's winrate is about 5/6(very likely 6/7) at 2018 Tencent World AI Weiqi Competition( https://github.com/gcp/leela-zero/issues/1554 ), did it use a super weigjt?

[2018-06-24 08:18] bjiyxo commented on #1554
New 40 block weights are used in the tournament.

[2018-06-24 09:08] bjiyxo commented on #1554
I will publish it after #1573 Chinese weiqi congress.
The 40b version has over 80% win rate vs LZ 150 with the same visit (3200v) in 100 games. Though it's hard to test lots of games on high playout, 40b wins every single game versus 15b with 30 seconds and 8 x 1080Ti about 10 games.
I haven't tested this version vs ELF, but the previous version (trained to lz 146) has 35% win rate in the same vis

[2018-06-24 09:36] bjiyxo commented on #1554
1. FineArt
2. Leela Zero
3. Elf Opengo
4. Golaxy
5. AQ
6. Octopus (Leela Master by @pangafu)
7. BADUKI
8. DOLBARAM
9. RAYNZ
10. AYA

[2018-06-24 09:44] #891 closed

[2018-06-24 09:45] #901 closed

[2018-06-24 09:45] l1t1 commented on #1554
good job, AQ win ELF, a bit suprise

[2018-06-24 09:45] #1226 closed

[2018-06-24 09:51] l1t1 commented on #1554
[code]

[2018-06-24 10:54] l1t1 commented on #1554
full sga file fixed
[tx1.zip](https://github.com/gcp/leela-zero/files/2130683/tx1.zip)

[2018-06-24 11:29] l1t1 commented on #1554
http://sports.sina.com.cn/go/2018-06-24/doc-iheirxyf2104744.shtml
report

[2018-06-24 14:07] jillybob commented on #1554
Leela Zero has won ~$30,000 USD. I am not sure who is receiving the money, but I hope it goes to GCP for better hardware for Leela Zero training!

[2018-06-24 14:12] bjiyxo commented on #1554
@jillybob Not yet. There is top 8 circle & finals in July.

[2018-06-24 16:42] Mardak commented on #1489
@roy7 updated RoyalZeroSlow with my eval * BOARD_SQUARES patch and played some handicap games with smurphing (OGS 2d) https://www.twitch.tv/videos/276405766

9 handicap https://online-go.com/game/13361128
5 handicap https://online-go.com/game/13361438
4 handicap https://online-go.com/game/13361831
3 handicap https://online-go.com/game/13362131

Generally, it looks like all the handicap plays are r

[2018-06-24 16:46] petgo3 commented on #1554
What training set was used for this 40b? Only offical lz games? Anyway cool job😎

[2018-06-24 18:01] roy7 commented on #1554
Although it's awesome to see Leela Zero do so well I don't think we'll be beating Fine Art. ;)

[2018-06-24 18:21] bjiyxo commented on #1554
The 40b initiated from Xavier initialization, which means I didn't use n2n. Also, I think larger learning rate learns general concepts, so I choose large training set; meanwhile, lower learning rate learns details, so I choose smaller training set. Elf are trained in 40b.

| Total Steps(k) | Training Weight Files Number | learning rate | batch size |
| --- | --- | --- | 128 |
| 256k | 92-116 | 0.0

[2018-06-24 19:12] gcp commented on #1554
Was this just another LZ instance, or a separate Go program that is "compatible" with the LZ weight format?

[2018-06-24 19:34] Splee99 commented on #1489
For the 5 handicap game, if the resign threshold was set to 1%, LZ certainly had chance to win because the winrate was already up from less than 1% to 7%.

[2018-06-24 20:14] jokkebk commented on #1554
Very nice! Congratulations from here as well! Let's hope LZ will perform as strongly in top 8 as in this 11 bot preliminary!

I was wondering myself which version of LZ it could be, as with the latest LZ 150 many moves came "out of nowhere" and LZ suddenly took lead in the winrate estimates somewhere in middle game from seemingly "lost" position (one had about 27 % win rate after 150 moves or so,

[2018-06-24 20:49] john45678 commented on #1554
@gcp see here: https://github.com/pangafu/Hybrid_LeelaZero

https://github.com/pangafu/LeelaMasterWeight

[2018-06-25 00:10] l1t1 commented on #1554
http://sports.sina.com.cn/go/2018-06-24/doc-iheirxyf2104744.shtml

The octopus leader said that the name octopus originated from the idea of eight hands banging on the keyboard. After the AlphaGoZero paper was published, she worked with Yuan on AI. The teacher, Yuan, said that because he did not want to be affected too much by the AI era, he decided to mix 30% of the human chess records two years

[2018-06-25 00:19] l1t1 commented on #1554
@bjiyxo thanks a lot for your work, as you publish the trainging formula and data source, i suggest the project doesn't publish the new selfplay games until #1573 Chinese weiqi congress finished ,

[2018-06-25 01:03] pangafu commented on #1554
@gcp
I use leela zero sgf + human sgf training some weight, and make some code to try some new idea of network mix (such as mix the result of 2 different size network result in every po and so on).

The code now is compatible with lz weight format, and maybe change future compatible with tensorflow format, In my plan, I will opensource code when ready, the weight will always opensource in progress

[2018-06-25 01:10] l1t1 commented on #1554
@bjiyxo what leelaz version did you use? does leelaz 0.15 support 40b?

[2018-06-25 04:00] l1t1 commented on #1477
@yenw could you explain why phoenixgo weight cannot be used by leelaz 0.15?

[2018-06-25 06:39] bjiyxo commented on #1113
Edit: 6/25
V16 (c010f034)
training up to d0187996 (148) (including ELF's selfplay)
https://drive.google.com/file/d/1Zz-2Ktku0R86Le0o1VuGrNLCEF_4NcFj/view?usp=sharing

[2018-06-25 07:16] nutpen85 commented on #1583
Games that long were either run on bad hardware (maybe CPU-only) or the PC went to energy saving mode inbetween. And so the last +192K match was finished after the last +256K match. Doesn't look like a problem to me. Can be closed?

[2018-06-25 07:31] l1t1 commented on #1583
thanks, it's ok at most time, but if a machine returns a dealyed result that effect promoted?
eg., a weight fails at 54.91%(246 of 448),and other weight passes after that, then the slow result return 1 win so  passed at 55.01%(247 of 449). what shall we do?
should a timeout value be set?

[2018-06-25 07:31] #1583 closed

[2018-06-25 08:14] sewim commented on #1113
@bjiyxo Thanks for your effort, Sir.
By the way.. Can you send me 40b256f weights that you comment on another post #1554 ?
I wanna test that weights too. I think there is many who wanna test it.

[2018-06-25 08:52] bjiyxo commented on #1113
@sewim
Owing to the failure on last time Golaxy series, I won't upload new 40b256f weights until the competition is over. Sorry for the inconvenience.

[2018-06-25 10:09] pangafu commented on #1554
Finally upload end, there is 30 * 256 zero network, 30 * 256 human style network and 15 * 192 human style network there, please enjoy human style go game.

[2018-06-25 10:21] pnprog commented on #1584
@Hersmunch , @alreadydone
Thanks both of you for your explanations. So this randomness is in fact normal.

[2018-06-25 10:21] #1584 closed

[2018-06-25 10:22] sewim commented on #1113
@bjiyxo
I fully understand what you've concerned. Thanks for your reply, Sir.
I hope that I can test it one day after this competition is over. (Can't wait a long~~~)
But now, Good luck to you.

[2018-06-25 10:35] pnprog commented on #1584
@alreadydone

So, just to be sure, the best way to draw a "heatmap" would be to take the average values for all the heat maps right?

[2018-06-25 11:41] john45678 commented on #1554
@pangafu Wow, great work , thanks

[2018-06-25 13:00] Dorus commented on #1113
Can somebody remind me what the previous failure was why 40b256f cannot be shared yet?

[2018-06-25 13:00] roy7 commented on #1584
There's a "heatmap average" command for that. :)

[2018-06-25 13:04] diadorak commented on #1113
@Dorus A 20b network was beating Golaxy. And then once the network was released, Golaxy somehow found "blind spots" of it and won the following games quickly :(

[2018-06-25 13:12] pnprog commented on #1584
Thanks :)

[2018-06-25 13:13] ryouiki commented on #1557
@TFiFiE There were 14 duplicated matches out of total 19800 matches.
To compensate information loss, I did additional matches and updated table above. 😁

[2018-06-25 13:22] roy7 commented on #1113
In theory one could load in LZ weights and only use them for the 'opponent' portion of the tree search. So as you search the tree for moves, you always know what the opponent is actually going to do. (If it's the same weights they are using for playing.)

[2018-06-25 13:46] ThorAvaTahr commented on #1113
@roy7 that would require double the resources though.

[2018-06-25 14:36] Mezoka commented on #1113
No evidence that the success of Golaxy was related with LZ's released network

[2018-06-25 15:22] Eddh commented on #1113
Yeah I'm quite certain nothing like that happened too. But not releasing the 40b net temporarily makes it absolutely certain that nothing like that happened, so it avoids any rumors that could arise. One potential problem avoided, and the only cost is that we get the 40b net publicly a bit later.

[2018-06-25 15:29] john45678 commented on #1113
Most likely the Golaxy team familiarized themselves with LZ before the April Match and played several test games. That might be what happened, more then 'changes' at the match time.

[2018-06-25 17:03] kityanhem commented on #1554
@pangafu Is Octopus Leela Master 30 blocks?

[2018-06-25 18:19] ainixingo opened #1585 "Linear regression prediction weight 333 : 267 (-v16 fast test) #150 official weight"
weight: https://drive.google.com/file/d/1gatWCnQPfj_swWEJ8fV1F33wdTIj_ZTu/view?usp=sharing

python:

import math
def main():
    w1 = open("136.txt", 'rt')
    w2 = open("137.txt", 'rt')
    w3 = open("138.txt", 'rt')
    w4 = open("139.txt", 'rt')
    w5 = open("140.txt", 'rt')
    w6 = open("141.txt", 'rt')
    w7 = open("142.txt", 'rt')
    w8 = open("143.txt", 'rt')
    w9 = open("144.txt", 'r

[2018-06-25 18:32] thalessa commented on #1290
Dota 2 (Moba) has a bot AI team now

https://youtu.be/eHipy_j29Xw

[2018-06-25 18:35] ainixingo commented on #1585
Tools: https://drive.google.com/file/d/15KKRfIjPIScwEGVj3tDySMzmkFYWI_PJ/view?usp=sharing

[2018-06-25 20:16] bjiyxo commented on #1113
@gcp @roy7 Can you match new 20b in queue?

[2018-06-25 20:47] roy7 commented on #1113
V16 in the match queue.

[2018-06-25 21:23] Friday9i commented on #1113
Nice, thanks!
Any idea when we will switch to a larger network, and will it be 20x256 or even 30x256...?

[2018-06-25 21:28] Eddh commented on #1113
GCP was considering it recently so he may already be training 20 block nets. It may take weeks though.

[2018-06-25 21:31] Friday9i commented on #1113
Or he could start from this @bjiyxo v16, which seems good enough to be more or less the same strength on time parity : -).

[2018-06-25 22:32] alreadydone commented on #1554
I would expect @bjiyxo's LZ 40b to perform better in handicap games than ELF and official 15b. Has it been tested in 3-4 stone handicap games against professional players? Though he declined to release the weight before the end of this competition season, maybe it's still possible to have a 3-stone rematch with Haylee, if operated by himself or trusted party? LM seemed to perform better than LZ in

[2018-06-25 22:38] TFiFiE commented on #1557
Your numbers suggest the supposed rating differences of the networks are in reality inflated by a factor of about **4**.

[2018-06-25 23:05] TFiFiE commented on #1113
Is there some particular winrate that must be reached by the larger network for the switch to take place or is there going to be an equal-time test match?

[2018-06-25 23:28] Friday9i commented on #1113
With 20Bv16 vs LZ150, it seems from a few test that we are approximately around time-parity: about 2 times slower and about the same strength with 2 times less visits...
So a switch would be about neutral in terms of performance, and would allow for a faster progression : -)

[2018-06-25 23:29] alreadydone commented on #1290
Impressive cooperation among five agents without explicit means of communication ...

[2018-06-26 00:00] featurecat commented on #1579
most likely this change will make the engine weaker, but it could be good for tools like Lizzie where the user wants to see a wide variety of variations and refutations.

[2018-06-26 00:05] l1t1 opened #1586 "did the elf selfplay policy adjust?"
I only got 1 task in last 2 days.
C:\Users\aaa\Downloads>find "net:" log.txt

---------- LOG.TXT
net: 2b80a9db004a7b05e6e389677a00f31d2c445fb3671c7f2127a9f5bb979002c9.
net: 2b80a9db004a7b05e6e389677a00f31d2c445fb3671c7f2127a9f5bb979002c9.
net: 2b80a9db004a7b05e6e389677a00f31d2c445fb3671c7f2127a9f5bb979002c9.
net: 2b80a9db004a7b05e6e389677a00f31d2c445fb3671c7f2127a9f5bb979002c9.
net: 2b80a9db004a7b

[2018-06-26 00:06] l1t1 commented on #1585
your 'd better place codes into a pair of "  ```  "

[2018-06-26 00:19] rchs819 commented on #1586
No, I believe nothing has changed on the server side.

What's the concern here?

[2018-06-26 00:21] l1t1 commented on #1113
is it possible to use these 20b weights to training/produce a 40b wieght?
if it is, please do not publish new one  until the  competition finished.

[2018-06-26 00:29] l1t1 commented on #1586
thanks
could you post the elf  Ratio of your tasks?

[2018-06-26 00:35] jkiliani commented on #1113
Anyone can train a 40 block net on Leela Zero training data, but as long as @bjiyxo keeps his 40b net under wraps, any competitors won't be able to exploit Leela Zero in competitions. The 20 block net on the other hand may soon become our network for self-play games anyway...

[2018-06-26 00:54] pangafu commented on #1554
@kityanhem
Octopus is master weight + modified mcts + network enhance

[2018-06-26 00:57] l1t1 opened #1587 "why some resign games have over 360 moves"
Game | Win Rate | Match Hash | Winner | Score | Move Count | Duration | Download | Client | Version
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
192 | 59.90% | 951ff653b9ddceed7181d12d481be1b6 | c010f034 | B+Resign | 380 | 35.5 minutes | sgf | 52 | 16
301 | 62.46% | 2af5d0d53dca852fca22ff6b9e4df9e4 | c010f034 | W+0.5 | 368 | 15.4 minutes | sgf | 5 | 16
70 | 61.43% | c6c04b94f10626266d6990bf8c83

[2018-06-26 00:59] rchs819 commented on #1586
https://github.com/gcp/leela-zero-server/blob/f8a51f48c6c88dae8d10dd6c2bcad597c25d8b2b/server.js#L1474

ELF games are allocated at 25%

[2018-06-26 01:06] l1t1 commented on #1586
thanks

[2018-06-26 01:06] #1586 closed

[2018-06-26 01:29] pcengine commented on #1554
@pangafu  Great job! Indeed, those human style are more fun to play with. One question, could you please check the B-series again? The b01.zip & b02.zip files seems corrupted (I have tried to download it using different PCs, but all failed).  I can only download other files correctly, and b03 weight works perfectly.

[2018-06-26 02:15] diadorak commented on #1557
An alternative interpretation is higher visits amplify strength differences.

[2018-06-26 02:35] kityanhem commented on #1113
@roy7 Can you match new 20b (training by bjiyxo) vs 30b (training by pangafu)? and 30b (pangafu) vs w150?

[2018-06-26 04:07] alreadydone commented on #1587
Wow these are interesting games, remarkably close endgames whose results sometimes hinge upon a simple ko (单片劫) or several ko's through the whole game, which is why the games are so long.
Game 301 has two seki's and W+0.5 is the correct result.
Game 70 is W+2.5
Game 65 and 188 are W+0.5
Game 192 is B+1.5

[2018-06-26 04:15] alreadydone commented on #1587
Just to add one more entertaining and confusing (because of randomness) long **self-play** game with double/quadruple ko, courtesy of discoverer/commentator R2D2, owner of QQ group 163136292 (LZ selfplay appreciation group): http://eidogo.com/#2ASzoqkan (may need to set language = simplified Chinese in MultiGo to view comments)

[2018-06-26 04:28] l1t1 commented on #1587
http://eidogo.com/#2ASzoqkan is good example @alreadydone

[2018-06-26 04:58] Mardak opened #1588 "Can move priors become so biased to prevent learning even with noise?"
In analyzing Leela Chess Zero behavior of not learning some tactics https://github.com/LeelaChessZero/lc0/issues/8, I noticed that root search using only value without policy would easily find the correct move, which usually had low 0.1% priors, because the tactical move had a favorable win rate to get more visits from search.

This got me wondering if Go would run into similar issues, so I forced

[2018-06-26 07:10] l1t1 commented on #1557
please add b20v16 compare result

[2018-06-26 08:35] Friday9i commented on #1588
Rather than increasing noise (which is already high...), wouldn't it be useful to just make a wider tree exploration?
For that, we could simply modify the softmax calculation of moves' probabilities.
Practically, the nets gives an input for each move, and the probability is computed using softmax(input) for each move. Instead of using softmax(input), we could use softmax(a*input), with a=0.5 for e

[2018-06-26 09:39] alreadydone commented on #1290
Teamwork: https://twitter.com/Smerity/status/1011340815682056192

LSTM architecture: https://twitter.com/hardmaru/status/1011300202622226432 from https://d4mucfpksywv.cloudfront.net/research-covers/openai-five/network-architecture.pdf

Resource: https://twitter.com/hardmaru/status/1011509177699594240

[2018-06-26 10:22] pangafu commented on #1554
@pcengine upload again, please download one more time.

[2018-06-26 10:50] gcp commented on #1588
I don't understand why the topic is called "prevent learning even with noise" and the discussion shows searches without noise.

There's no guarantee that with more time or larger network capacity the network wouldn't train exactly as you expect. Remember also that the networks do generalize their knowledge, so the score of priors isn't exclusively caused by what the network has learned for that po

[2018-06-26 11:03] gcp commented on #1587
"why not"

[2018-06-26 11:03] #1587 closed

[2018-06-26 11:04] gcp commented on #1582
Nice! I plan to catch up on reviews today.

[2018-06-26 11:05] gcp commented on #1579
The current settings are optimal for strength, so changing anything will just make the engine weak.

If you need to explore them for analysis, just play them out and run it on the resulting position.

[2018-06-26 11:05] #1579 closed

[2018-06-26 11:06] gcp commented on #1576
I vaguely remember fixing this already? Or maybe it was in the TTable when we still had that.

[2018-06-26 11:08] gcp commented on #1575
This sounds like MCTS-Nets.

If it's stronger than the normal UCT at equal time settings then I don't see why we wouldn't take this, as long as some assurance can be given wrt. some minimal amount of exploration as the current noise and T=1 achieve.

[2018-06-26 11:13] #1563 closed

[2018-06-26 11:17] uestccokey commented on #779
Hi @evdwerf, i have tested your android branch,it's very nice work,but when i compile it on my mac, i meet some error in openblas and boost lib! can you share your openblas and boost lib?

[2018-06-26 11:47] gcp commented on #1588
There's a trade-off between finding new moves and learning to predict more accurately. I would say it's not necessarily complimentary, but might just be redundant.

Also: if it would help self-play to discover new moves, why would it not help the regular search in match games to close holes in the network's knowledge?

Does it not demonstrate the opposite: that the learning works? For the learning

[2018-06-26 11:54] gcp commented on #1585
The idea here is to model the weight evolution as a linear process and try to predict where they end up?

[2018-06-26 12:15] Friday9i commented on #1588
"the opposite might also have happened": possible indeed, that's why "I'll do my best to try to test it by myself" (modifying the code and testing it, if I manage to do it : -).
Thanks for your detailed and clear comments.

[2018-06-26 12:21] grolich opened #1589 "c010f034 20 blocks seems promising"
Now that a 20b LZ (c010f034) beat the best 15b by over 61% - will we be planning a switchover to 20b, or do we want to wait until the current 15b network completely stalls?

Is there a compelling reason not to switch to 20b now that it's stronger?

Sorry if that has been discussed in other topics. Searched and couldn't find anything concrete.

[2018-06-26 12:38] TFiFiE commented on #1589
#1113

[2018-06-26 12:49] grolich commented on #1589
Apologies then, hard to track every issue from a few months ago...
Seems like possible good news :)

[2018-06-26 13:05] #1589 closed

[2018-06-26 13:06] gcp commented on #1113
I expect this to be close to parity, so I'll switch if the next learning rate drop (around 200k non-promoted) doesn't produce anything.

[2018-06-26 13:55] roy7 commented on #1113
@gcp Would you like me to run some test matches with the pangafu 30b nets as well?

[2018-06-26 14:06] jkiliani commented on #1113
Are we lowering visit count or enabling time management with the 20 block bootstrap? It would be the most logical point for such a measure...

[2018-06-26 14:18] bjiyxo commented on #1113
@jkiliani There is big difference between 20b & 15b speed ratio on different GPUs. It will be total a mess if we try that.

[2018-06-26 14:53] kityanhem commented on #1554
@pangafu I just want to ask.  Is Octopus LeelaMaster 20b or LeelaMaster 30b?

[2018-06-26 15:01] Mardak commented on #1588
Your example of fpu reduction and the subsequent fix to remove it for noised self-play is almost proof that wider search is beneficial for learning.

One of the assumptions I made with this post is that ELF is trained sufficiently longer than what we have done so far with leelaz, and that implies noise has been used in training (hence the title). Specifically looking at the win rate and prior info

[2018-06-26 16:02] Marcin1960 commented on #1588
@Friday9i "we could use softmax(a * input), with a=0.5 for example"

Can I make such or similar change in the code for leelaz.exe? If so, where should I do it?

[2018-06-26 16:02] Eddh commented on #1588
OpenAI is having a lot of success with more randomized training conditions right now https://blog.openai.com/openai-five/

It does support the idea that exploration in training is something important to take care of, and it is not simply enough that exploration is possible, it should also be sufficiently high. We would need multiple training runs to find out if we are currently not exploring enoug

[2018-06-26 18:18] Mardak commented on #1588
Just to be clear, what are the mechanics you're referring to? If it's applying Dirichlet noise with the alpha and epsilon, that's entirely the premise of this issue questioning if the current α=3% and ε=25% are sufficient to make sure moves are never permanently discarded or prevented from learning to play the best (highest value) move.

[2018-06-26 18:29] gcp commented on #1588
So, does changing the policy softmax to max(softmax, 0.01) actually make LZC stronger?

It not, please reread: https://github.com/gcp/leela-zero/issues/1588#issuecomment-400278489

[2018-06-26 18:41] Mardak commented on #1588
Why was fpu_reduction removed from noised root? The before and after effect is that self-play searched wider when no longer applying fpu_reduction. Pruning moves = narrower search, not pruning = wider. I'm not suggesting widest search is desirable, just that there has been a change to make it wider. Should search be wider than it is now? Unclear.

A single training data of favorably noised play pr

[2018-06-26 18:54] Mardak commented on #1588
I don't think that specific behavior has been tested, but a similar behavior of changing policy with softmax temp 2.2 has been measured to improve match performance:
https://github.com/LeelaChessZero/lc0/pull/46

For reference, here's the prior policy for some tactics positions that LZC fails to find without softmax but does with softmax temp 2.2:
[code]

The adjusted policy is not too far from yo

[2018-06-26 18:56] gjm11 commented on #1585
That's my interpretation too. It's not clear quite what the independent variable -- all those numbers between ~5 and ~6 -- is meant to represent, though.

[2018-06-26 19:28] gcp commented on #1588
lc0 is a very bad thing to do these kind of measurements on because it requires a hugely wide search to get efficient batching, which is a completely orthogonal thing from self-play games and training.

I believe Facebook has said the same of ELF, which also uses different parameters for self-play vs matches there.

[2018-06-26 19:43] alreadydone commented on #1588
What parameters are different? At least c_puct is the same: https://github.com/pytorch/ELF/issues/53

[2018-06-26 19:45] Mardak commented on #1588
I'm pretty sure ASilver did the tuning run with lczero, but it happened to only be implemented with lc0 (with cpuct scaled appropriately).

[2018-06-26 19:45] gcp commented on #1588
Ah, it seems that they cleared this up. I remembered the values being different.

[2018-06-26 19:51] gcp commented on #1588
[code]

[2018-06-26 19:59] gcp commented on #1588
FWIW I never tried tuning cfg_softmax_temp because it makes the mapping from the probabilities produced by the search into the desired network outputs rather weird. DeepMind had it at ~0.67 for Alpha Lee Go but fixed it at 1.0 for A(G)Z.

[2018-06-26 20:33] Mardak commented on #1588
That's what I've been trying to highlight with the example position with latest LZ and ELF weights. Both networks could find a non-highest-prior move with a better win rate (roughly 1 percentage point higher) but training data seems to reinforce putting visits into the lower win rate move.

There are two different time scales that we shouldn't conflate. One is for finding the correct move during a

[2018-06-26 20:56] gcp commented on #1588
I don't see how you can conclude this. The examples you gave had visits fixed at 1000 for every move. If it were not, then the visits would be strongly proportional to the win rate and to a lesser extent proportional to the prior.

A move with a high winrate would get a lot of visits and feed back to learn a higher prior.

[code]

If visits were distributed according to UCT (as in self-play), ther

[2018-06-26 21:02] Mardak commented on #1588
I ran the analysis forcing 1000 visits to each of the moves to have comparable win rates given same amount of searching. I too would expect the network to eventually prefer F2, but looking at LZ now and ELF, which is roughly LZ "eventually," it shows that ELF still believes F2 has the higher win rate but its prior has not trained to reflect that.

[2018-06-26 21:31] Mardak commented on #1588
I think we're in agreement here then? You're pointing out that a child's eval will converge slower with wider search, and I'm saying we don't want softmax policy for non-root because we want an accurate measurement of win rate for a move.

So that's why noise / wider search / flatter policy should only be applied at the root and not for children. (I brought this up originally because a simple sett

[2018-06-26 23:45] afalturki commented on #1113
@roy7 To my knowledge, pangafu's 30b network uses human games. So, I'm not really sure if it's advisable to use it even if it's stronger.

[2018-06-27 00:04] roy7 commented on #1113
@afalturki Even if we run a test of them it isn't because we might deploy them, but just so we know exactly how strong they are.

[2018-06-27 00:11] jillybob commented on #1113
Pangafu has created two types of 30b, one using the zero method, and a second type using the same zero 30b network, but added 20% of human games to its database.

[2018-06-27 02:57] l1t1 commented on #1569
lz 151 is promoted, 20b maybe later
gcp says 'I expect this to be close to parity, so I'll switch if the next learning rate drop (around 200k non-promoted) doesn't produce anything.' at
https://github.com/gcp/leela-zero/issues/1113#issuecomment-400300631

[2018-06-27 04:46] ryouiki commented on #1585
Tested against various anchors.
Winrates of the predicted weight were not better than LZ#150.

  | vs   LZ#130 | vs LM   G13 | vs   20Bv15 | vs ELF | vs   20Bv16
-- | -- | -- | -- | -- | --
LZ#150 | 80.5% | 54.5% | 52.0% | 30.5% | 46.50%
Predicted Weight | 70.5% | 59.5% | 45.5% | 30.0% | 42%

_each cell represents winrate from 200 matches (400 visits)_

[2018-06-27 05:21] l1t1 commented on #1585
@ryouiki Predicted Weight means lz 151?

[2018-06-27 05:46] Ishinoshita commented on #1585
Does this amounts to a sort of SWA with momentum ? ;-)

[2018-06-27 06:08] gcp commented on #1113
We already run with time management enabled (--timemanage no_prune) for clients on "next". But we should drop visits.

I'm not sure what the mess would be, it would still be fixed visits or playouts so speed differences between GPUs won't matter.

[2018-06-27 07:00] jkiliani commented on #1555
I just noticed that while the match list on the regular site shows passed matches that later drop below 55% still as passed, the new page formal does not.

[2018-06-27 07:58] wonderingabout commented on #1569
that seems wise to me
no rush for strength (there's no reason to rush, really), wait and see, and experiment for the community, i like this positive spirit

[2018-06-27 08:39] jkiliani commented on #1569
@gcp Since we exceeded 250k ELF games a while ago, how are the ELF games currently used? Do we train on the 250k latest ELF games, plus the 250k latest regular network games? Does it still make sense to continue producing ELF games now, in contrast to continue training on existing ELF games?

[2018-06-27 08:50] Tsun-hung commented on #1113
A idea suddently come to my mind, I wonder if it is possible to train a another "elf network" from 62b5(since there is more than 277K self-play game from 62b5), which is stronger than and replace it to do self-play. Maybe I am unnecessary worry, is it ok to use “the same” data from monotonous network?

[2018-06-27 09:02] NhanHo commented on #167
@gcp The storage server is back online. Can you update the new sgf file in the last month please?

[2018-06-27 09:15] WYarde opened #1590 "Cannot run in Google CoLab. clinfo does not find GPU"
When I run the provided worksheet, clinfo does not find any GPU devices
`Number of platforms 0`

I believe the problem lies in the version of nvidia-cuda-toolkit which gets installed (v8.0). When I instead install v9.0 using the below snippet from the [Leela Chess Zero Notebook](https://github.com/LeelaChessZero/lc0/wiki/Run-Leela-Chess-Zero-client-on-a-Tesla-K80-GPU-for-free-%28Google-Colaborator

[2018-06-27 10:06] gcp commented on #167
train_5839eb77.zip
https://mega.nz/#!PsRjDAiA!nan2B5-yjRmb3s85CxF8S1zezPIacOc9jMU4D7GENAo
train_2b80a9db.zip (incomplete)
https://mega.nz/#!vphQmYZI!tH0Y6OPWeC1BBu1z3fQVGrNQOKCa1uokR4Rz5pqCO0E

[2018-06-27 10:19] gcp commented on #1569
Yes.

No, I already asked jroy to disable it on the server.

That's true. But the performance gap with ELF has closed a lot, so maybe it makes more sense to iterate our own networks faster now.

[2018-06-27 10:31] dzhurak commented on #1569
Did I understand right that at the moment we train on 250k latest regular network games and the same 250k ELF games? I'd say we need to generate new ELF games in order to feed new data to the network.

[2018-06-27 10:32] jkiliani commented on #1113
@bjiyxo's 40 block net appears to stronger than ELF, if I'm interpreting the outcome of the Tencent tournament right. The 20 block net doesn't seem to be (yet), but now that 15 blocks appears to be nearly stalled, the performance gap between the 20 block bootstrap and 15 block nets should widen again with time. I have serious doubts that using ELF games exclusively would be actually stronger than

[2018-06-27 10:36] tapsika commented on #1113
I think Ttl's data showed the theoretical optimal should be v=800 or so?

I don't think anybody showed any kind of data about how training data quality affects learning speed. With lower visits you get somewhat worse quality training data twice as fast (so more "net" data), but at least theoretically it is also possible that learning would actually benefit from somewhat higher quality data twice a

[2018-06-27 10:44] jkiliani commented on #1113
I think @Ttl makes a good case for lower visits, and it's trivial to verify that the cross-entropy of the search output at 1600 visits against raw policy is only slightly smaller than it is at 3200 visits. From @Ttl's figures showing cross-entropy gain per visit, @gcp's suggestion of 1600 visits instead of the theoretical optimum at ~800 sounds like a conservative way to try this concept, with ver

[2018-06-27 10:51] Eddh commented on #1569
Hmm yeah I'm not sure oversampling on the same 250k games is a good idea.

[2018-06-27 10:53] Ishinoshita commented on #1569
I'm really wondering if ELF contributed to LZ progress mainly through being stronger and generating higher level games or also in combination with  providing more diversity in the traning data (more diverse positions, more diverse search and thus more diverse training targets). Kind of blending effect.

[2018-06-27 11:06] jkiliani commented on #1569
Since we just had another passing net, with 5 nets and >200 Elo gain since the last ELF test, maybe it's time for another ELF match in addition to testing Pangafu's 30 block nets...

[2018-06-27 11:10] Tsun-hung commented on #1590
Erro occurs again

[2018-06-27 11:18] ThorAvaTahr opened #1591 "12692a83 has it a remarkable new insight?"
[12692a83](http://zero.sjeng.org/networks/12692a83bdd56497d9b4d167be55e012230ed5fce1bce1d8efce413b32504dda.gz)
It has a high win rate against previous network, such big jump is not seen for a long time. I wonder if it has some remarkable new insight. (just wishful thinking off course)

Learning rate is adjusted?

[2018-06-27 11:28] Tsun-hung commented on #1591
I think it is just purely coincidental, or GCP has just made a training plan few hours ago.

[2018-06-27 11:29] Eddh commented on #1591
I think gcp did reduce learning rate. It seems to be a better setting than before. So the new net is probably just more accurate in its judgement (value and policy) in general.

[2018-06-27 11:34] l1t1 commented on #1591
two weights in 10hours, very good

[2018-06-27 11:35] gcp commented on #1591
I didn't change anything.

[2018-06-27 11:41] gcp commented on #1569
...

I don't know. By not generating new ELF, the other 250k samples will iterate a lot faster (and they are not so much weaker any more...). In theory, the 192x15 isn't big enough to store all the ELF knowledge.

I guess we'll see. Gating and learning restarts etc kinda of guard against over-training, at worst we fail to get new promotions without a size upgrade or learning rate reduction.

[2018-06-27 11:45] Tsun-hung commented on #1113
@gcp  5 networks hsve passed since last match with elf network, would you like to run a new match between 1269 and elf?

[2018-06-27 11:48] jkiliani commented on #1591
Hmm interesting... could it be that phasing out the oldest ELF games, especially those without resignation, resulted in a net gain? Those games didn't look good, maybe they did actually hold back progress...

[2018-06-27 11:51] l1t1 commented on #1569
i am afraid of the new weights become too strong, others can training with them, and the risk of lz lost in ai competition increases

[2018-06-27 12:02] Eddh commented on #1591
Ah that could be it.

[2018-06-27 12:17] wonderingabout commented on #1569
i'm curious to see how lz 152 compares to elf now
is a match planned in the future ?

[2018-06-27 12:33] bjiyxo commented on #167
@gcp Will you upload new 62b self play this week?

[2018-06-27 12:38] Friday9i commented on #1569
Difference was about 315 Elo with 86% winrate. Since that, LZ progressed around 205 Elo, but it is selfplay, so the real improvement is rather ~80 Elo, so the remaining difference should be around 230 Elo, ie a ~79% win rate for ELF vs LZ152. But LZ vs Elf is becoming a kind of selfplay scale too, with an inflated scale. Hence, the difference should be smaller than 230 Elo: hard to guess but I'd s

[2018-06-27 12:38] bjiyxo commented on #1113
@jkiliani New 40b in Tencent tournament gets ~50% win rate versus ELF with the same visit. So chances are the results in Tencent tournament are totally by luck.

[2018-06-27 12:53] tapsika commented on #1113
Weren't the hw used completely different? ELF not-so-good results from lack of horsepower?

[2018-06-27 12:56] bjiyxo commented on #1113
We don't know how many GPUs they used.

[2018-06-27 12:57] gcp commented on #1591
Might as well be random variance. The score dropped close to 56% anyway.

[2018-06-27 12:58] gcp commented on #167
I'll upload the full file when I get to it. ELF self-play should be stopping soon so it won't grow after that.

[2018-06-27 13:40] l1t1 commented on #167
looks good, suggest add new files and keep old ones.
Index of /zero/

File Name  ↓ 	File Size  ↓ 	Date  ↓
Parent directory/	-	-
best_v1.txt.zip	8206921	2017-Nov-03 09:46
9x9-20-128.txt.gz	28385479	2018-Apr-30 14:12
all.sgf.xz	2679136476	2018-May-23 10:20
all_match.sgf.xz	99088588	2018-May-23 10:20
tfsummary.tar.xz	25307904	2018-May-23 14:15

[2018-06-27 13:44] l1t1 commented on #167
put different aged eggs in different baskets is better for use and safer

[2018-06-27 14:14] diadorak commented on #1591
Time for another ELF test match :)

[2018-06-27 14:43] roy7 commented on #167
ELF selfplay now turned off. https://github.com/gcp/leela-zero-server/commit/d8fe66acdb296cc1b82736203b3d7b4b02739ec1

[2018-06-27 14:57] john45678 commented on #1569
I'm a little less optimistic, so I'll say 79% for ELF (vs. LZ152).

[2018-06-27 15:23] Friday9i commented on #1569
78% after (only) 37 games: seems we are not too far of, but still extremely noisy, we have to wait for at least 100 games to get a better idea!

[2018-06-27 16:13] uestccokey commented on #779
@evdwerf,I succeeded in compiling on Linux！Thanks again

[2018-06-27 16:15] lp200 commented on #1113
I hope ELF vs v16 match
To see 20b potential

[2018-06-27 16:29] Nefeste opened #1592 "Komi 7.5 is too big"
I think, that komi 7.5 is too big for a game of Go. More likely fair komi should be 4.5 or 5.5. Can we do an investigation using millions of sgf's of self-play of Leela-zero to prove which komi should be considered as a fair and equal position with 50% of winning if both players are an equal strength?
All fuseki and joseki knowledge, developing by Leela-zero, can be wrong due to this critical huma

[2018-06-27 17:34] wonderingabout commented on #1592
well with 7.5 komi in chinese rules its known that white has a bit higher winrate, but if you lower it to 6.5 komi in chinese rules then wouldnt black have a higher winrate ?
also 6.5 vs 7.5 doesnt dramatically change the way of playing a game, there are plenty ways to catch or not catch a point, only for highest level players (bots) does it matter that much, but there is still a lot of room even

[2018-06-27 17:39] WYVYW commented on #1590
My Colab setup still works:

!wget http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1704/x86_64/cuda-repo-ubuntu1704_9.0.176-1_amd64.deb

!apt-get install -y --fix-missing --no-install-recommends dirmngr

!dpkg -i cuda-repo-ubuntu1704_9.0.176-1_amd64.deb

!apt-key adv --fetch-keys https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1704/x86_64/7fa2af80.pub
!mkdir /usr/lib/n

[2018-06-27 17:50] Mardak commented on #1569
I just updated the 3-3 knight's move tracking https://github.com/gcp/leela-zero/issues/1442

From LZ148, the priors for the critical move for the joseki increased suddenly from 17% to LZ150 32% to LZ152 46%. Perhaps in addition to ELF reaching half of the window, newer training data is pushing out those from much older networks that would have trained towards ~10% prior instead of ELF's ~100% prio

[2018-06-27 18:56] nutpen85 commented on #1592
In generell a komi of 7 is considered to be the right Komi under Chinese rules (source: https://senseis.xmp.net/?Komi ). And 7.5 helps avoiding Jigo (draws).
In addition, it is not so easy to simply analyze our set of some million games for perfect Komi. LZ is far from playing on a level, which is sufficient to do this analysis. And many games were even played with a weaker LZ in training mode.

[2018-06-27 19:22] Mardak commented on #1442
I was thinking of resolving / closing this issue now that 192x15 has all the moves in this joseki as its highest prior move, but doing a extra check on the initially reported issue of value preferring other moves, that still seems to be the case:
[code]

This means 192x15 is not in a positive feedback cycle to favor S16 and with ELF games being phased out of the training window, it seems quite lik

[2018-06-27 21:06] l1t1 commented on #1113
elf team says they use ONE gpu  https://github.com/pytorch/ELF/issues/62

[2018-06-28 00:20] alreadydone commented on #1576
OK thanks, skip_cache = true actually works perfectly; the hash index to NNCache must already include the komi. It also seems that changing komi immediately create a new root state, since I see that the visit count is cleared. However, komi change only affects subsequently created states/nodes: when you undo you need to change the komi again.

[2018-06-28 00:21] #1576 closed

[2018-06-28 01:37] Tsun-hung commented on #1590
@WYVYW

![1](https://user-images.githubusercontent.com/33803485/42008200-e2268a24-7ab6-11e8-9633-9fc42e201a54.JPG)

[2018-06-28 03:55] WYVYW commented on #1590
@Tsun-hung
Sometimes I get the same message, but then it works normal just after running all instances again.

[2018-06-28 07:12] WYarde commented on #1590
@WYVYW Your Colab setup seems similar to the code snippet I suggested (from Leela Chess Zero notebook), and very different from the one which is linked to in [COLAB.md](https://github.com/gcp/leela-zero/blob/master/COLAB.md).

@gcp Not sure whether this should be tagged tech support. I believe the notebook currently broken for everyone; the snippet I suggested would fix that I believe. Would be go

[2018-06-28 07:16] gcp commented on #1592
Completely irrelevant to this project.

[2018-06-28 07:16] #1592 closed

[2018-06-28 10:42] gcp commented on #1590
If there's a fixed COLAB.md please make a pull request for it.

[2018-06-28 10:55] 5525345551 commented on #1590
I've updated the Colab notebook with the fix from @WYarde
Its working again now.

[2018-06-28 11:30] ryouiki commented on #1557
Chart updated

LZ#151, LZ#152 matches.
20Block V16 anchor.

[2018-06-28 15:51] davidye2020 commented on #1554
_Champion: CNY 400,000;
Runner-up: CNY 200,000;
3rd - 4th place: CNY 120,000;_

If LZ gets second place, that is still a lot of monies.

Converted into Belgium money it is a nice sum. GCP can use it to go on a vacation

[2018-06-28 16:02] Friday9i commented on #1554
I'd be happy to continue to contribute up to 40x256 nets, and possibly more!
But true, 9x9 and 13x13 would be nice too.
As well as better handicap play: that would be so nice if LZ was able to play efficiently H9 games! But for sure, it needs some serious tweaking, as the current implementation is not able to play high-handicap...

[2018-06-28 16:05] featurecat commented on #1554
For the future of LZ: I'm happily in favor of no-komi nets so we can use AI for handicap games and to analyze older games such as Shusaku.

[2018-06-28 16:10] gcp commented on #1554
That wouldn't feel right. If such a huge amount of prize money ever makes it here, I have some ideas how to feed (part of 😊) it back into the project. But not let's spend money we haven't won yet.

[2018-06-28 16:23] jkiliani commented on #1554
What happened to Nibbler?

[2018-06-28 16:43] gcp commented on #1554
This one looks much more like me. Has 2 eyes, etc.

[2018-06-28 16:47] Friday9i commented on #1554
Use of money seems a difficult issue...
It could of course be reinvested in the project as hardware, eg 20 GTX1080 Ti would be nice to speed up things, make matches games on controlled machines, train new nets, makes some experiments, ... (while letting volunteers makes selfplay games)
But developpers spent a huge time on the project... IMHO, I'd find reasonable if they take a reasonable part back

[2018-06-28 17:01] gcp commented on #1554
Yeah, that's why my current line of thinking would be something more like bounties or prizes for improvement on the software side. But that's the last I'll say about this for now, for reasons already mentioned.

[2018-06-28 20:45] l1t1 commented on #167
Index of /zero/

File Name  ↓ 	File Size  ↓ 	Date  ↓
Parent directory/	-	-
best_v1.txt.zip	8206921	2017-Nov-03 09:46
9x9-20-128.txt.gz	28385479	2018-Apr-30 14:12
tfsummary.tar.xz	25307904	2018-May-23 14:15
all.sgf.xz	2877842716	2018-Jun-27 14:54
all_match.sgf.xz

[2018-06-29 08:31] Tsun-hung commented on #1590
@WYVYW @5525345551  It dosn't work, could you share the notebook?

[2018-06-29 12:19] larrywang30092 opened #1594 "om"

[2018-06-29 13:30] Ishinoshita commented on #1594
You meant 'omg'? ;-)

[2018-06-29 13:58] l1t1 opened #1595 "ELF OpenGo on Fox and World AI Competition"
https://github.com/pytorch/ELF/issues/66

[2018-06-29 14:52] l1t1 commented on #1595
http://www.yikeweiqi.com/news/topline/46864/

ashamed

[2018-06-29 15:17] ThorAvaTahr commented on #1591
This reinforces my belief that it may be a good idea to truncate the games used for learning.

I believe it is good to have a certain number of games be played out until the end, to keep the sanity check that the value networks trains towards correct prediction of actual outcomes. However many of the games, especially with low or no resign percentage end with a low quality endgame. Lots of moves a

[2018-06-29 15:43] alreadydone commented on #1554
After being confronted with statistics, the Aurora team acknowledged that they use Leela Zero engine and ELF weights with fast rollout result dynamically weighted or constantly at 0.5, and insisted that there is original work. Aurora will open-source after the competition. Compare https://github.com/gcp/leela-zero/issues/1554#issuecomment-399582048

[2018-06-29 15:55] bjiyxo commented on #1554
I cannot understand what the Aurora team explained. It looked like they used Leela Zero + ELF directly.

[2018-06-29 16:10] diadorak commented on #1554
Basically Aurora is the Liu Chao of Go AI.

After the first day of the competition, a reporter of Yike, Du Nai Gu, published a microblog on Sina suggesting that Aurora plays more similar to LZ+ELF than Opengo ELF. Then, on the second day, Aurora plays quite differently and some moves are absurd. Now the Aurora team admits they have been using LZ+Elf with some tweaks. I don't understand how Tencent

[2018-06-29 16:28] diadorak commented on #1554
http://weiqi.qq.com/news/9467.html

In the comment section of Aurora's announcement, an ID named Aurora_tester claims that he/she is the author and has decided to quit the competition due to stress caused by media attention.

[2018-06-29 19:12] jokkebk commented on #1594
Or maybe "om nom" and he did not have time to write "nom" because his stones got eaten?

[2018-06-29 19:41] Eddh commented on #1594
I think this is a good idea. Need to implement it.

[2018-06-29 19:48] john45678 commented on #1594
Maybe this: https://theyogahub.ie/wp-content/uploads/2018/06/Om.jpg

yoga chanting :)

[2018-06-29 20:22] #1594 closed

[2018-06-30 00:14] l1t1 commented on #1595
https://github.com/yenw/LeelaZero_PhoenixGo
says Please don't use it to take part in AI competitions

[2018-06-30 00:20] Splee99 commented on #1595
The original Phoenixgo knows ladder perfectly. So there is more in Pheonixgo than its "weight".

[2018-06-30 05:56] l1t1 opened #1596 "could you develop a chinese version leelazero"
https://hhpetra.github.io/leelachinese/tutorials/arguments.html

[2018-06-30 12:08] Tsun-hung commented on #1590
@5525345551  Thanks a lot, it works

[2018-06-30 12:36] l1t1 opened #1597 "an interesting usage of match/games"
https://neuralnetgoproblems.com/
from
https://github.com/lightvector/GoNN

[2018-06-30 14:55] Valdorigamiciano commented on #1301
@Ka-zam My CPU should not be affected.
@gcp Thanks, perhaps I should try an Ubuntu-based distro.
@Marcin1960 why so?

[2018-06-30 15:52] 2ji3150 commented on #1596
If you have this webpage and tutorial on tieba, why you need chinese version?

[2018-06-30 19:00] Ttl commented on #1502
I have also this issue on Linux. The issue is not just with testing, but also when writing the weight file it writes zeros for means and ones for variances. As a result training is unusable since the exported model doesn't work.

[2018-06-30 23:03] l1t1 opened #1598 "why 6f16 weight lost 18 games in a batch"
http://zero.sjeng.org/match-games/5b38051acad7d44c24375cf4

[2018-07-01 00:16] l1t1 commented on #1598
![2018-07-01_081121](https://user-images.githubusercontent.com/23301704/42129967-d064d5b6-7cc3-11e8-87d1-430e4199f67c.png)

[2018-07-01 00:44] PhilipFRipper commented on #1598
Because in 8 million games all kinds of random things are bound to happen.

[2018-07-01 01:07] l1t1 commented on #1598
thanks

[2018-07-01 01:07] #1598 closed

[2018-07-01 03:31] Ttl commented on #1502
I managed to fix this by moving `update_ops` dependency before `compute_gradients`:

[code]

Not sure why this works and the current code doesn't. Also I'm not sure if this is a correct solution with multi GPU setup. @godmoves could you check this?

[2018-07-01 12:15] evdwerf commented on #779
@uestccokey probably doesn't need this any more, but perhaps this is still useful for others:
https://github.com/xianyi/OpenBLAS
https://github.com/dec1/Boost-for-Android

[2018-07-02 06:18] l1t1 commented on #1595
http://www.tcga.tw/icga-computer-olympiad-2018/en/#tsignup
Program Details

    Game Type
        Go 19x19
    Program Name
        Aurora
    Author(s)
        Qi Zhang
        Dongbin Zhao
    Operator
        Qi Zhang
    Organization
        Institute of Automation, Chinese Academy of Science
    Country
        China
    Introduction
        A not very faithful re-implementation of Master. 1.

[2018-07-02 11:06] bjiyxo commented on #1113
Edit: 7/2
V17 (0589016c)
training up to 2b80a9db (150) (including ELF's selfplay)
https://drive.google.com/file/d/19ogANudaRHdi9iF9B1GzFHMzV8NaSXr_/view?usp=sharing

[2018-07-02 12:18] l1t1 commented on #779
![screenshot_2018-07-02-20-11-16-2119146104](https://user-images.githubusercontent.com/23301704/42163250-4e9cd180-7df1-11e8-99ab-230fa5d75554.png)
@evdwerf I use the args as above and the weights.txt is a 192 64b .gz file,
but my phone(820 cpu, 4G mem ) doesn't move in 2 min.

[2018-07-02 13:11] 22nsuk commented on #167
I wonder if I can not receive files from another repository. It 's too slow and the connection keeps hanging up. So I can not download files.

[2018-07-02 13:11] Dorus commented on #779
@l1t1 Did you follow the guide by @wentaol above? It worked for me.

https://github.com/gcp/leela-zero/issues/779#issuecomment-392627563

Most important part for me was to set "slow timeouts", but i also added "-v 100 --no-ponder".

[2018-07-02 13:11] l1t1 commented on #1113
@roy7 Can you match new 20b v17 in queue?

[2018-07-02 13:22] john45678 commented on #1113
And maybe any of Pangafu's 30B nets when its convenient?

[2018-07-02 13:38] l1t1 commented on #779
I checked the box slow timeouts @Dorus

[2018-07-02 17:51] evdwerf commented on #779
"slow timeouts" may not help with very big networks / slow devices. The problem is that even with slow timeouts GridMaster expects a response to some basic gtp commands within 30 seconds (without slow timeouts that is 3 seconds). If the program needs more then 30 seconds to load network weights (and blocks everything) before it answers a simple gtp command like 'name' then the engine is disconnect

[2018-07-02 23:46] l1t1 commented on #167
try wget -c
@22nsuk

[2018-07-03 04:06] l1t1 commented on #167
@gcp are there any methods to extract self-play games of one weight from the huge all.sgf

[2018-07-03 07:27] alreadydone opened #1599 "Dynamical "komi" to keep winrate within a certain range"
A while ago I realized that [the color planes can be used to input komi information to the network](https://github.com/gcp/leela-zero/issues/1576); today I finally have some time to implement the recurring idea of dynamically adjusting komi to keep winrate not too extreme to enhance handicap performance: [Source code](https://github.com/alreadydone/lz/tree/komi), [Diffs](https://github.com/gcp/lee

[2018-07-03 07:35] alreadydone commented on #1599
Initial pure network black winrate as a function of komi:

LZ # 148
![image](https://user-images.githubusercontent.com/3064145/42205135-8f2630a4-7e71-11e8-8c0e-dfc920117d84.png)

@bjiyxo V16
![image](https://user-images.githubusercontent.com/3064145/42205086-711563be-7e71-11e8-9166-c76903e5ea77.png)

I got these data using `heatmap` after modifying Network.cpp as in my komi branch and GTP.cpp as f

[2018-07-03 08:32] alreadydone commented on #1313
"Dynamical komi" to keep winrate within a certain range now implemented in https://github.com/gcp/leela-zero/issues/1599.

[2018-07-03 08:36] alreadydone commented on #1470
"Dynamical komi" to keep winrate within a certain range now implemented in https://github.com/gcp/leela-zero/issues/1599.

[2018-07-03 08:37] alreadydone commented on #1553
"Dynamical komi" to keep winrate within a certain range now implemented in https://github.com/gcp/leela-zero/issues/1599.

[2018-07-03 09:57] alreadydone commented on #1599
For more perfect endgames, e.g. in order not to concede as white in 6.5 komi games, try [endgame.zip](https://github.com/gcp/leela-zero/files/2158706/endgame.zip) or https://github.com/alreadydone/lz/tree/endgame. Warning: hasn't been tested.

[2018-07-03 10:33] l1t1 opened #1600 "http://zero.sjeng.org/ server down?"
ping timeout

C:\leela-zero-0.14-win32>ping **zero**.sjeng.org

Pinging zero.sjeng.org [138.201.118.121] with 32 bytes of data:
Request timed out.
Request timed out.
Request timed out.
Request timed out.

Ping statistics for 138.201.118.121:
    Packets: Sent = 4, Received = 0, Lost = 4 (100% loss),

C:\leela-zero-0.14-win32>ping **www**.sjeng.org

Pinging www.sjeng.org [138.201.118.121] with 32 b

[2018-07-03 10:44] l1t1 commented on #1600
autoftp also fail
C:\leela-zero-0.14-win32>autogtp -k sga
AutoGTP v16
Using 1 thread(s) for GPU(s).
Starting tuning process, please wait...
Network connection to server failed.
NetworkException: Curl returned non-zero exit code 7
Retrying in 30 s.

[2018-07-03 11:14] l1t1 commented on #1600
returned

[2018-07-03 11:14] #1600 closed

[2018-07-03 12:58] gcp commented on #1600
Was an issue at the ISP.

[2018-07-03 13:31] Vargooo commented on #1599
Thx, it works well with the latest "regular" networks, even at 9 stones handicap. Very nice ! I'm looking forward to experimenting with it.
(but it seems to freeze with the ELF weights, after 9 to 20 W moves )

[2018-07-03 15:24] gcp commented on #1502
At this point I'm tempted to move multi-gpu support to a branch and do backouts on next until we get to the working code.

[2018-07-03 17:05] wonderingabout commented on #1599
very interesting

if i understand well the idea is that in a selfplay game variations, black starts with 9 stones handicap, but white starts with bonus komi (for example 100 bonus points). Like this, the game is even and both black and white moves are realistic and even (= aiming at arround 50% winrate).

Later on, even though there are 9 black stones, the 100 bonus points start to be too high so

[2018-07-03 19:22] alreadydone commented on #1599
@Vargooo I wouldn't expect my changes to work with ELF weights or bjiyxo's V16: the winrate simply isn't a monotonic function of komi, which doesn't make sense. For ELF, you can't even expect it to work with komi values other than +/-7.5: when komi is 7.5 it outputs self's winrate, but when komi is -7.5 it outputs the opponent's winrate, and there's simply no way to interpolate between these two s

[2018-07-03 22:08] petgo3 commented on #1599
@alreadydone: Thx! Implemented this on KGS (petgo3). I'll have some games there :-)

[2018-07-03 22:37] wonderingabout commented on #1599
@alreadydone

i understand
i think handicap games are instructive and its positive to support them if possible
but the "levels" idea i suggested is another project, i didnt mind it to replace the handicap games, but to make leela zero play weaker without having to go back to first networks (that had flaws like missing ladders, and generally less knowledge than current lz)

[2018-07-04 00:34] roy7 commented on #1113
Apologies for the delay. In the middle of a move and it was rather stressful. ;)

[2018-07-04 00:40] roy7 commented on #1113
@marcocalignano I queued up a match right now if you're around and need one for testing.

[2018-07-04 01:17] l1t1 commented on #1554
http://weiqi.qq.com/news/9477.html
Aurora quit, DolBaram takes place

[2018-07-04 05:34] ryouiki commented on #1557
Chart updated

LZ#153 matches.
20Block V17 anchor.

LZ#  | vs   LZ#117 | vs   LZ#121 | vs   LZ#130 | vs LM   G13 | vs   20Bv15 | vs   20Bv16 | vs   20Bv17 | vs ELF
-- | -- | -- | -- | -- | -- | -- | -- | --
121 | 58.0% |   |   |   |   |   |   | 7.0%
122 |   |   |   |   |   |   |   |  
123 |   |   |   |   |   |   |   |  
124 | 61.0% |   |   |   |   |   |   |  
125 | 62.5% | 61.5% |   |   |   |   |

[2018-07-04 06:10] 22nsuk commented on #167
@l1t1 Thx. Still slow, but well received.

[2018-07-04 06:22] gcp commented on #1554
I received a mail from Aurora's author apologizing for using LZ parts without permission.

You don't need my permission at all for using LZ parts (I'm not the sole author anyway!) as long as you abide by the license.

But do note that tournaments may have additional rules about program originality, and the public opinion tends to prefer that one is upfront about what the program is based on. Let's

[2018-07-04 06:49] gcp commented on #167
Just xzcat and some filter script in python should work.

[2018-07-04 07:14] Ttl opened #1601 "Batching"
Continued from #410. I have implemented batching support for OpenCL a while ago (https://github.com/Ttl/leela-zero/tree/batching_test). It didn't really help with a laptop's integrated GPU, but now I got to test it on GTX 1080 Ti and performance looks quite different. Here are some netbench results with different networks:

192x15 network:

| Batch size | n/s  |
|------------|------|
| 1

[2018-07-04 08:59] l1t1 commented on #1557
[best_5b.txt.gz](https://github.com/gcp/leela-zero/files/2162485/best_5b.txt.gz)
in a qq group, someone uploaded this file, who says a foreigner training it with more games , and it is stronger than the offical best 6b, can you test it?

[2018-07-04 09:01] alreadydone commented on #1601
In addition to the CGOS 9x9 champion https://github.com/gcp/leela-zero/issues/1291, there's also a recent [strong 64x5 network](https://drive.google.com/open?id=1tfGcoNJ9Mh8wqHk1anHc0_dIFbxfGmLm) trained by @NhanHo on Discord that achieved 95%+ winrate against official best # 57 with -v3200.

[2018-07-04 09:09] pcengine commented on #1599
@alreadydone
Thank you for your effort. I used your binary to run regular network (#153) to play a few 4 stones games. It worked well for the first 80 to 100 moves, and then crashed. I have tried to load and continue the games, but it failed immediately again. However, I still can continue these incomplete games with regular Leelaz binary.  I think if you play a few games to mid-game, you would pr

[2018-07-04 09:19] alreadydone commented on #1599
@pcengine
Thank you for the report! Can you provide a few sgfs for me to diagnose the problem? Possibly the winrate stops being a monotone function of komi and my code is unable to find the appropriate komi. I've observed `Error in OpenCL calculation` before in such circumstance when komi gets ridiculously large.

[2018-07-04 09:33] 5525345551 commented on #1601
The 10x128 network is still strong to play against for amateur player. So I would welcome any speed up.
I use an iGPU.

[2018-07-04 09:38] Ttl commented on #1601
This won't give similar speedup on weak GPUs. I got no speed increase with 192x15 network using Intel integrated GPU and only 30% speedup on 64x5 network. I wouldn't expect this to give any speedup for 128 channels networks on integrated GPU.

[2018-07-04 09:46] 5525345551 commented on #1599
I tried this using a Master weight E08 from pangafu on 4 handicap stones. Sometimes it would freeze for a while (no playouts) and then play an obvious bad move.
At other times it would play normally within the time settings.

It would be great if there was a quick fix for non monotone weights.

[2018-07-04 09:58] Tsun-hung commented on #1601
@alreadydone Is the network that he comment at #1311?
![default](https://user-images.githubusercontent.com/33803485/42270588-d71a849e-7fb3-11e8-9ff2-0d0f20173363.JPG)

[2018-07-04 10:11] alreadydone commented on #1601
@Tsun-hung This one is released on June 20, so likely an improved version. @l1t1 mentioned it at https://github.com/gcp/leela-zero/issues/1557#issuecomment-402413482.

[2018-07-04 10:30] gcp commented on #1601
The Leela Chess Zero people do. @frpays ported Leela Zero's OpenCL backend to lc0.

[2018-07-04 10:32] alreadydone commented on #1599
@5525345551 I wouldn't recommend using E08 at all. Slight non-monotonicity is probably fine, but a strongly non-monotone weight defies the whole premise of the dynamic komi idea. As it turns out, E08 is even more chaotic than ELF at empty board:
![image](https://user-images.githubusercontent.com/3064145/42272366-e658c2e6-7f53-11e8-9830-45af99a4bfc9.png)

Anyone can check monotonicity by typing `he

[2018-07-04 10:33] gcp commented on #1601
It would make sense anyway to implement batching in our search, as I suspect it may give a higher speedup with cuDNN. I remember you tested it and it was not impressive, but I think that was without batching.

[2018-07-04 10:53] pcengine commented on #1599
@alreadydone
Thank you for your reply. I just played another game, and it crashed much earlier this time.
Below is the part right before my last move (32nd move), maybe it's helpful for you to diagnose the problem? The error messages said that  I'm playing too many games, but I was actually only playing this one. It also mentioned that I should update my GPU driver, which I have already done recen

[2018-07-04 11:38] Tsun-hung commented on #1601
@NhanHo Outstanding job! it is kind to many people who don't have fine GPU and want to match with LZ at mobile phone.

[2018-07-04 14:29] ryouiki commented on #1557
I'll test the 64x5 net. (trained by @NhanHo)
Early result :

  | vs new 64x5
-- | --
LZ#57 (64x5) | 18.50%
LZ#91 (128x6) | 78.50%

_each cell represents winrate from 200 matches (400 visits)_

[2018-07-04 17:44] alreadydone commented on #1599
@pcengine Try [fixed code](https://github.com/alreadydone/lz/commit/b56e2f0a6f4f59b9b95e5276c490f1e541cff00f) or [Windows binary](https://github.com/alreadydone/lz/releases/tag/komi-v0.2) which should address the type of problem you encountered. Since I now use a different strategy to adjust komi, parameters are updated, but I am not sure about the effect on strength.

[2018-07-04 18:10] storyer9999 commented on #1113
Can be match between 20b v17 and lz elf？

[2018-07-04 21:55] l1t1 commented on #1601
same as https://github.com/pytorch/ELF/issues/25 batch?

[2018-07-05 00:37] baduk1 commented on #1554
@bjiyxo are there any video recordings from this tournament?

[2018-07-05 00:43] ParmuzinAlexander commented on #1113
@bjiyxo Hi. You can explain about 40b network? On youtube in chat with baduk1 you said 40b require 60s on 8x1080Ti. What's the meaning of that? ELF slower than LZ, but stronger, It doesn't matter what hardware. Suppose we have AlphaGo 40b. On 1х1080Ti AG 40b will performance 10k playouts and ELF will performance 40k playouts for the same time. AlphaGo win right? Because the AlphaGo is better train

[2018-07-05 01:16] ryouiki commented on #1557
LZ network winrates vs new 64x5

![400visits200games_new5b](https://user-images.githubusercontent.com/909264/42297695-2fce1988-803c-11e8-9a20-217c396a2463.png)

Better than official 5-Block best (LZ#55) and similar strength to LZ#75

[2018-07-05 02:37] l1t1 opened #1602 "can this project write a paper to summary some methods that AlphaGo Zero paper did not mention"
such as
1 swa weight
2 add elf games to train lz
3 use new bigger weights games to train smaller weights
4 komi/handicap
5 batching

so many games and weights enable us do many study on differnt aspects

[2018-07-05 03:39] bjiyxo commented on #1554
AFAIK, there isn't.

[2018-07-05 03:56] bjiyxo commented on #1113
@ParmuzinAlexander
40b256f is 2 times lower than 20b256f. If you only use 2x1080Ti with 30s, the po is ~20k and it is in the same level comparing to 20b with po ~40k. So I don't think 40b is not practical to average user. In constrast, if you have 8x1080Ti with 60s, then the po is ~140k, which is pretty strong to win 20b.

For the reason that 40b is trained with 15b kifus, so 40b is not better tra

[2018-07-05 10:31] ParmuzinAlexander commented on #1113
@bjiyxo If 40b not better trained than 15b, for what reason will 40b win on 140k playouts? 20b gets 280k and also become stronger. Or after a certain value playouts 20b does not get stronger?

[2018-07-05 13:41] zhanzhenzhen opened #1603 "(possible) bug of the 2-pass rule"
![3-pass](https://user-images.githubusercontent.com/731796/42326237-28a3aac4-809b-11e8-8fa4-7237832af91d.png)

Black to move. Black plays at A. Then white must pass. Then black also passes and win. But actually black should lose because the top-right corner is dead. This is just a bug of the rule itself. I don't know if it affects Leela.

[2018-07-05 14:22] gcp commented on #1603
Then white should capture it. That's how Trump Taylor rules work.

[2018-07-05 14:22] #1603 closed

[2018-07-05 14:22] john45678 commented on #1554
When is the second round starting?

[2018-07-05 14:32] zhanzhenzhen commented on #1603
@gcp How could white capture the top-right corner then?

[2018-07-05 14:35] zhanzhenzhen commented on #1603
oh, just viewed tromp-taylor rule and I see it mentions 4-passes?

[2018-07-05 14:58] gcp commented on #1603
Leela Zero does get this "wrong" in the sense that she assumes the game is over after 2 passes, which makes for handier playing with Chinese style rules.

I don't know if this ever matters in practice.

[2018-07-05 15:00] gcp commented on #1602
With "this project", do you mean "can I"? Then sure!

I might get around to writing some of this up for the European Go congress presentation. But (4) is still entirely in the air as to what the best method is, and (5) was already in all DeepMind papers, we just never implemented it.

[2018-07-05 15:00] #1602 closed

[2018-07-05 15:01] gcp commented on #1601
Self-play batching would require a larger refactoring, I guess.

[2018-07-05 16:54] rchs819 commented on #1603
IMO, W indeed lost in the situation like this, because W is out of KO threat, I reckon this is not a pass bug.

I believe LZ is smart enough to prevent herself getting into situations like this. Top right corner should be handled before end game.

[2018-07-05 19:31] TFiFiE commented on #1603
This (kind of academic) issue with superko is actually brought up in [_On the Rules of Go_](http://gobase.org/studying/rules/ikeda/) by Ikeda Toshio, [here](http://gobase.org/studying/rules/ikeda/?sec=e3030001) to be precise.

[2018-07-05 20:58] jokkebk commented on #1557
Seems impressive. This net would probably work nicely for mobile?

[2018-07-05 21:18] keldor314 commented on #1575
This may be a big win in some other ways.  Consider that there's a group on the board that might be alive or dead, but the situation is a bit too complicated to tell easily (i.e. Leela would need to do some playouts to find out).  Now suppose that it's too early in the game to think about saving or killing the group, since there are definitely more important moves elsewhere.  Wouldn't it be nice t

[2018-07-05 21:30] alreadydone commented on #1599
New release expected to improve stability and aggressiveness. https://github.com/alreadydone/lz/releases/tag/komi-v0.3

[2018-07-05 22:14] Marcin1960 commented on #1599
Here is 32bit binary
[LeelaZeroComi.zip](https://github.com/gcp/leela-zero/files/2168379/LeelaZeroComi.zip)

[2018-07-06 00:33] l1t1 commented on #1557
how about the strongest 15b weight 4dad, maybe lz153 will be the last king of 15b.

![2018-07-06_083331](https://user-images.githubusercontent.com/23301704/42354103-1f409d8c-80f7-11e8-85f0-c52657465448.png)

http://storage.sjeng.org/networks/4dad2d0d72e0ea54f8be4eb366095c9255b92bbd816ccb28ac3c28fb037cbb6d.gz

[2018-07-06 00:52] croosn commented on #1599
petgo, can you put v0.3 to your petgo bot? v0.3 Seems to be very good on handicap.

[2018-07-06 01:30] Crazyeight101 commented on #1599
I wonder about that.  From my experience with the bots, Leela 11 can give the Hira 3d bot 6 stones and win ~90% of the time.  I'll try playing one with v3 and see how it looks.

[2018-07-06 01:32] croosn commented on #1599
looking forward to hearing your results!

[2018-07-06 02:03] alreadydone commented on #1599
@petgo3 It's basically just this commit: https://github.com/alreadydone/lz/commit/0970d83142351f3e8a3ea9e29f61fefe9333be1e  Some unintended formatting changes were reverted in the next commit.

[2018-07-06 02:17] higherdim commented on #1554
2nd round starting today, July 6th.

[2018-07-06 02:20] Nazgand opened #1604 "Save computation on no-resignation games"
I was watching a no-resignation game, and 1 player passed because they had no legal move on the board. Player 2 could have passed to win the game, yet instead chose to capture a group which made the game 50+ moves longer.

I propose that every time Leela Zero's opponent passes, Leela Zero should be forced to pass if doing so results in a win.

[2018-07-06 02:36] l1t1 commented on #1554
![1656574 png](https://user-images.githubusercontent.com/23301704/42357031-5df1e7f0-8108-11e8-9903-6314dbad4f62.jpg)

[2018-07-06 04:31] petgo3 commented on #1599
Since v3 petgo3 ein all games so far. Great work alreadydone! Thx.

[2018-07-06 04:44] ryouiki commented on #1557
@l1t1 Maybe I could try. However, it will become worthless when there comes legit promotion.

[2018-07-06 05:46] l1t1 commented on #1557
gcp said he would start next size after a reasonable long peroid in a post

[2018-07-06 06:01] l1t1 commented on #1557
#1113
gcp
commented 10 days ago
I expect this to be close to parity, so I'll switch if the next learning rate drop (around 200k non-promoted) doesn't produce anything.

[2018-07-06 07:05] Nazgand commented on #1604
I think this is probably the game, and after looking closer, black actually had a legal move when it passed at 453. If white passed instead of playing S16, white should win by 70.5 points when counting all stones on the board as alive. Instead, the game continued 269 more moves than needed.

What is the reasoning behind --dumbpass for self-play games? The 269 moves are enough to get a whole game a

[2018-07-06 07:22] alreadydone commented on #1599
@petgo3 I feel that -7.5 komi may be safer, but we'll see. Without doubt LZ is very accurate with -7.5 and 7.5 komi, but look at the irregularity between -7.5 and 7.5 in the first graph in https://github.com/gcp/leela-zero/issues/1599#issuecomment-402042038 ... However if you want to set a zero or negative target komi, you will need to change adjust_up_komi slightly.

[2018-07-06 07:41] gcp commented on #1604
Adding the heuristics that are outside dumbpass mode means the engine gets "help" in counting the score, which is why it isn't enabled.

[2018-07-06 07:41] #1604 closed

[2018-07-06 08:11] wonderingabout commented on #1599
@alreadydone

all this is great news
also, does the dynamic komi have an impact on lz strength on 2-3 handi stones too ?

[2018-07-06 08:31] pcengine commented on #1599
@Marcin1960
Do you have game files available? Or maybe we can see it online? Also, did you use original leelaz? Or using dynamic komi version?

[2018-07-06 08:33] Marcin1960 commented on #1599
@pcengine

I updated info on LeelaZeroT. You can find   games there ( last two are with recent configuration)

[2018-07-06 08:38] herazul commented on #1599
Seems promising !

Does these changes impact strengh when playing at usual komi without handicap ?
Could these changes be included in the official LZ version without impacting anything ?

[2018-07-06 08:41] Marcin1960 commented on #1599
32binary, main change - does not resign before 150 moves
[LeelaZeroKomi.zip](https://github.com/gcp/leela-zero/files/2169657/LeelaZeroKomi.zip)

[2018-07-06 08:52] alreadydone commented on #1599
It should be easy to add a command line option to turn on handicap feature. As is komi-v0.3 behaves differently than official  when black's winrate gets higher than 95%, and in general it's a bit slower (costs 8 playouts at least to adjust komi).

Yeah I should probably add no-resignation since komi adjustment is trying to keep the winrate at 10%...

[2018-07-06 08:59] Crazyeight101 commented on #1599
@alreadydone I am pleasantly surprised.  v3 makes LZ very strong at handicap, and it seems to improve LZ's endgame considerably as well.  Still not sure if it has any positive or negative impacts on even games, but this is a novel and powerful solution to what has been an unsolved problem.  Very well done.

[2018-07-06 09:18] alreadydone commented on #1599
@Crazyeight101 Thanks! Are you saying komi-v0.3 (not endgame-v0.3) also improve the endgame? That may happen when LZ is black and is very certain to win (when winrate is >95% my change will take effect).
Yes when the game ended LZ says 67% for black.

[2018-07-06 09:56] Marcin1960 commented on #1599
@alreadydone "Yeah I should probably add no-resignation since komi adjustment is trying to keep the winrate at 10%... Not sure about a move count threshold though."

I just changed a line into:
const auto move_threshold = 150; // board_squares / 4; ((UCTSearch.cpp, line 632),
assuming if winrate is below limit, resignation is OK.

[2018-07-06 10:35] alreadydone commented on #1599
Now supports adjustable target komi, [Windows binaries for 0.0 and -7.5 target komi](https://github.com/alreadydone/lz/releases/tag/komi-v0.31). komi-v0.3 is with target komi 7.5.

[2018-07-06 14:00] alreadydone commented on #1599
@petgo3 Are you still using "net inverted for 0.5 komi" as in https://github.com/gcp/leela-zero/pull/1015? That's definitely safer but I wonder how it compares with my "target komi 0.0" approach above.

[2018-07-06 14:07] petgo3 commented on #1599
No netinversion anymore. Might be safer, but more difficult in a close game because it's -7.5 komi.
For any h game i use now 0.5 komi, even games use original code.
Thx again. Still no lost game for petgo3 in kgs. Even some h9 games :-)

[2018-07-06 14:29] Nazgand commented on #1604
Okay, then I suggest having heavier weights for the training from games which end sooner. This would also save computation in the long run, as LeelaZero would eventually learn to not prolong games.

[2018-07-06 14:39] gjm11 commented on #1599
If this holds up, then it is probably worth not only incorporating it into LZ but using the colour-plane adjustment mechanism "officially" for komi adjustment. And if _that_ holds up, then it is probably worth playing some LZ training games with komi values other than 7.5 in order to make LZ's handling of komi values other than 7.5 more accurate. And it seems likely that _that_ will tend to keep t

[2018-07-06 15:12] diadorak commented on #1554
LZ will play Baduki on 7/9, Fine Art on 7/12, DolBarama on 7/13, Elf on 7/16, Golaxy on 7/17, AQ on 7/20, and Octopus on 7/21.

Two games will be played between each pair at 2pm and 7pm on a match day.

[2018-07-07 00:12] tterava commented on #1575
I don't believe this to be true. The policy head gives moves which LZ thinks are important to search (this is different from moves with highest winrate) and if it's unsure whether a group is dead or alive, it certainly tries to find a move to kill it. Finding that move would probably decide the game so it should have very high policy prior. If the group is already alive, then LZ plays something el

[2018-07-07 01:34] Splee99 commented on #1599
The new LZ is very interesting indeed. I have run a test game of 3 handicaps with Leela 0.11. There should be no problem for LZ to win. The new code indeed reached to the point that it was almost to claim victory, but resigned for the reason I don't understand.

[lz-3h.sgf.txt](https://github.com/gcp/leela-zero/files/2172333/lz-3h.sgf.txt)
[lz-3h.log](https://github.com/gcp/leela-zero/files/217233

[2018-07-07 01:44] Splee99 commented on #1599
The source code I downloaded is lz-endgame-v0.3. The resign threshold I set was 20%. Maybe it was too high, but the komi was adjusted to -7.5 at the end. It is much lower than the game rule of 7.5, which is unnecessary, in my opinion.

[2018-07-07 05:00] BITINT commented on #1599
great work. what else can you do to make it even stronger? what about a check for prior network and if not in top ten then drop the move regardless of how much search is doing... and then flush that out with a hard code ladder detector so that it doesn'/t fail at ladders on superhigh handi and superlow playouts etc and finally a afterburner /post processing time of raw MCTS so that it doesn't easi

[2018-07-07 05:59] alreadydone commented on #1599
@Splee99 The endgame version tries to keep net_eval within 30-70%. From the log I see that the net_eval is 0.407791, but after tree search the winrate becomes 18.17%, so LZ resigned according to your setting. If you load the sgf with vanilla leelaz, you see the winrate under 7.5 komi is >95%, so it definitely should be LZ's win. I advise you to lower the resign threshold, or even set it to 0.

[2018-07-07 06:04] Splee99 commented on #1599
@alreadydone Can you modify the code to prevent the  komi to further go down from the game komi?

[2018-07-07 06:08] Splee99 commented on #1599
Or simply stop the dynamic komi at 0.

[2018-07-07 06:38] alreadydone commented on #1599
Then why not use the komi-v0.3 version? It's designed for handicap games and stop the dynamic komi at 7.5.
https://github.com/alreadydone/lz/releases/tag/komi-v0.31are versions that stop at 0 or -7.5 komi. If compiling, change target_komi to desired value, but note that komi other than +/-7.5 are potentially inaccurate.

[2018-07-07 07:54] afalturki commented on #1599
Does the komi value change after a certain number of moves or after the win rate crosses some threshold? It would make sense to raise the komi until it reaches 7.5 at the endgame stage allowing for a more accurate finish. If LZ was winning the handicap game by 0.5 or 1.5 points but is losing at -7.5 komi, it's think it's losing and might not play correctly.

[2018-07-07 08:40] bjiyxo commented on #1113
V18 (fb01adbb)
training up to e1d466aa (153 incomplete, only ~40k games) (including ELF's selfplay)
https://drive.google.com/file/d/1quBKBS68b3v8J-EnQxW2MAZSSve-RJc3/view?usp=sharing

[2018-07-07 09:14] wonderingabout commented on #1599
@gjm11

for example reviewing old shuusaku no komi games with lz

[2018-07-07 10:20] l1t1 commented on #1113
@gcp
if the v18  can win lz 153 by a rate greater than v17, can it be the next offical weight?
as lz 153 will hit 200K games tomorrrow.

[2018-07-07 11:33] bjiyxo commented on #1113
GCP might lower the learning rate first tomorrow first.

[2018-07-07 11:37] Marcin1960 commented on #1575
I used to provide in my bot, winrate information to the users. What value should I pick now?

[2018-07-07 11:39] Marcin1960 commented on #1599
I used to provide in my bot, winrate information to the users. What value should I pick with komi-v0.31?

[2018-07-07 14:52] Ishinoshita commented on #1599
I think no-resign self-play games may also benefit from this variable komi version.

Like many here, from time to time, I have a look at a slice of the last 400 self-play games and scroll through the sgf to have a feeling of LZ style/self-play games content. I'm reporting here a (quite common) qualitative observation, a (bit lazy) quantitative analysis and a suggestion:

**Observation:**
Looking a

[2018-07-07 16:42] Splee99 commented on #1599
@alreadydone Thanks. I'm testing komi-v0.31 now. I'm just wondering if the following default setting is OK for 3h game:
    cfg_max_wr = 0.12;
    cfg_min_wr = 0.05;
    cfg_mid_wr = 0.10;

[2018-07-07 17:44] Splee99 commented on #1599
I changed the default value to the following:
    cfg_max_wr = 0.6;
    cfg_min_wr = 0.5;
    cfg_mid_wr = 0.3;
and the playing style looks good to me. I know you can also change it in command line options.

[2018-07-07 17:53] roy7 commented on #1599
@Splee99 Did you mean 0.5 mid and 0.3 min?

[2018-07-07 17:58] Splee99 commented on #1599
@roy7 Opps, yes you are right.

[2018-07-07 18:38] Splee99 commented on #1599
@alreadydone I made some modifications to make target_komi equal to that received from the gtp command. I'm not quite familiar with the diff system, but basically I changed the definition of target_komi from a const in UCTNodeRoot.cpp to a global variable next to cfg_max_wr in gtp.cpp:
float target_komi = 7.5;
float cfg_max_wr;

then assign the value to it in the gtp komi command processing:

[2018-07-07 18:44] petgo3 commented on #1599
Optimal parameters depend on handicap IMO

[2018-07-07 18:53] Marcin1960 commented on #1599
@petgo3 "Optimal parameters depend on handicap IMO"

Do you, or someone else have concrete values for different handicaps?

[2018-07-07 19:57] jkiliani opened #1607 "roatia"

[2018-07-07 19:58] #1607 closed

[2018-07-07 20:53] Splee99 commented on #1599
Well 0.6, 0.5, 0.3 with mid_wr = 0.5 is not really a good setting and LZ lost 3h 0.5 komi to Leela 0.11 just by 3 points because even near the end of the game the dynamic komi still sit at about 4 points. When I accidentally set the mid_wr to 0.3, LZ played more actively.

So I set the limits to 0.52 0.42 0.3 and run another 3h 0.5 komi between LZ and Leela. Now this time LZ played perfectly and w

[2018-07-07 21:31] alreadydone commented on #1599
@Marcin1960 I am not sure where you get the winrate from leelaz. Is it the "NN eval = "? My versions have "komi = " and "opp_komi = " along with "NN eval" and it'd be good to display those as well, so that people can know whether LZ thinks the situation is improving or not.
(There is a problem making the NN eval inverted which is fixed in the most recent commit (for both komi and endgame branches)

[2018-07-07 21:59] Marcin1960 commented on #1599
@alreadydone "NN eval is directly coming out of neural network and not incorporating any tree search, so maybe of lower quality than before."

It does not have to be of good quality. It is only to give idea to the players and observers how game is going.

@alreadydone "I am not sure where you get the winrate from leelaz."

In UTCSearch I set a  global float leela_win = winrate;
in the function UCT

[2018-07-07 23:09] bjiyxo commented on #1569
@gcp We should lower the learning rate in my opinion if there isn't any progress on 15b today.

[2018-07-08 01:46] alreadydone commented on #1599
@petgo3 Thx for keep testing! It'd be nice to find out optimal parameters for different handicaps, but I sense that they also depend on the stage of the game (opening, mid-game, endgame).
Testers reported that @pangafu's GX series (GX37 is the newest) works better in handicap games, even with endgame-v0.3 instead of komi-v0.3.
PhoenixGo weights seem pretty good as well. I am working on merging my

[2018-07-08 03:28] diadorak commented on #1569
200k without a promotion. It's time for LR drop :)

[2018-07-08 05:10] Splee99 commented on #1599
LZ just got a win of 4 handicap game with Hiratuka. However, this win would not be possible without the modification of using get_pure_eval() to replace get_net_eval() in uct_select_child:
[code]
and also I need to take care of locking issue just like mentioned in #1435.
[lz-hira-4h.log](https://github.com/gcp/leela-zero/files/2173342/lz-hira-4h.log)
[lz-hira-4h-15s8.sgf.txt](https://github.com/gc

[2018-07-08 05:36] alreadydone commented on #1599
@Splee99 Are you sure the main effect wasn't coming from this line? https://github.com/gcp/leela-zero/pull/1435/commits/4d3f6444cffb8354501f2806e98caf430cd73f9f#diff-28216771f77a09f4e0782ad5404fdd28R294 (Did you not change this line?)

[2018-07-08 05:38] Splee99 commented on #1599
No I didn't change that line. I only changed the get_net_eval to get_pure_eval and the locks.

[2018-07-08 05:40] hydrogenpi commented on #1599
So Haylee will play against this version of LZ on high hardware and try 4H?

[2018-07-08 05:44] alreadydone commented on #1599
@Splee99 Then I hope you keep testing these two versions and report a statistically significant result.

[2018-07-08 05:51] Splee99 commented on #1599
Before this, LZ played 3 games with Hiratuka with the same game rule and different winrate/komi settings. All lost by a little because LZ played too conservatively without get_pure_eval. Tomorrow I'll run more tests.

[2018-07-08 06:17] Splee99 commented on #1599
To avoid confusion, I put the two modified files in my gist here:
https://gist.github.com/Splee99/69c58d5150cf7221b0cff3e5ffebbe05

[2018-07-08 08:18] l1t1 commented on #1554
what weight and hardware will be used in tomorrow's match?

[2018-07-08 08:30] alreadydone commented on #1599
PhoenixGo-supporting versions:
https://github.com/alreadydone/lz/tree/phoenix-orig: [original LeelaZero_Phoenix Go](https://github.com/yenw/LeelaZero_PhoenixGo/) with /next, but with tree search parameters adjusted according to my understanding of PhoenixGo source code.
https://github.com/alreadydone/lz/tree/phoenix-komi: the same, with dynamic komi for handicap.
https://github.com/alreadydone/lz/

[2018-07-08 09:36] Marcin1960 commented on #1599
@Splee99 "I think for games of more than 4 handicaps this bold approach is really necessary."

Should I make it conditional? (get_pure_eval if handicap > 4)?

[2018-07-08 10:35] alreadydone commented on #1599
Feel free to fork my repository and make your own release. Is anyone willing to test komi-v0.3 with the whole #1435 merged?

[2018-07-08 10:49] bjiyxo commented on #1554
A new 40b training to 153 (imcomplete, ~40k kifus) with 8x1080Ti will be used.

[2018-07-08 10:53] herazul commented on #1554
What is the winrate of this new 40b versus the one used before ? How much better is it ?

[2018-07-08 12:33] sudosandwich opened #1608 "Long games"
I think this is a problem: 636 moves played in this training game. While playing to the end occasionally is of course important, at more than 1.5 times the available points to play, maybe we can decide by MC only. 600 moves for this game means we could have played 3 other games with 200 moves each. Is that assumption wrong? Any input appreciated.

Game:

{
    "cmd": "selfplay",
    "hash": "e1d46

[2018-07-08 13:14] l1t1 commented on #1608
"resignation_percent": "0",

[2018-07-08 13:33] grolich commented on #1608
TLDR version: without some games where leela is prohibited from resigning (ever) we'll get too many wrong resignation games. There seems to be no way around this.

1) In a certain percentage of games LZ is told to play without resigning (no matter the situation).
The whole point of "no resignation" games is to make sure the net doesn't wrongfully resign often, and removing such games will likely h

[2018-07-08 13:48] gjm11 commented on #1608
There's a definite reason why some games have to run to something like completion. Not only (as grolich) says to avoid too many wrong resignations; also to keep the network's learning anchored to reality.

However, it seems to me that it could maybe be improved in a couple of related ways.

First -- and something like this has been suggested recently in the comments on another issue, I forget whic

[2018-07-08 13:56] wonderingabout commented on #1557
@ryouiki can you upload the 200 games archive of lz 153 vs 20b v17, i find them more convenient to watch on my local sgf reader.

thanks

[2018-07-08 13:57] Ishinoshita commented on #1599
@alreadydone: Phoenix-Go wr vs komi curve looks very promising w.r.t to present approach. Very monotonical and quite smooth and symetrical. Wondering if the NN value can be made even smoother ( i.e. less optimistic/resp. pessimistic for high komi values) by passing it through some logit/rescale/sigmoid function, so that it has higher slope at high komi and that the search can better rank moves acc

[2018-07-08 16:52] jokkebk commented on #1608
This was discussed at least 99 issues ago at #1509 and I also think that with 25 % resign 0 games that take 2.5x as long as normal games, almost 30 % of contributors cpu/gpu time is wasted on low quality material. Lowering visits would definitely be a great improvement.

[2018-07-08 20:38] Ishinoshita commented on #1608
@jokkebk: Resign can happen very early, as early as before 90 moves (have a look at the distribution of game length). It's important to check that such games cannot be reversed, with full strength play, i.e 3200v. However, the likelyhood a game reversal happening beyond 300 moves is very low IMO. So, based on your idea, and provided the move count is above 300 (or 360 or some level to be defined),

[2018-07-08 20:57] sudosandwich commented on #1608
"as the monte carlo tree search in LZ (as in AGZ) no longer does rollouts to the end of the game (ever)"

I was not aware of this

[2018-07-08 20:57] sudosandwich commented on #1608
I still believe a heuristic could work though

[2018-07-08 20:58] #1608 closed

[2018-07-08 21:14] Ishinoshita commented on #1608
Your point is still valid. Playing games from 300 to 600+ moves count with 3200v might not be a fatality. Is roughly 15% of the total cpu/gpu workload that goes into these moves.

[2018-07-08 21:16] sudosandwich commented on #1608
My suggestion would be a cutoff at some move number. I mean 600 moves is a LOT of time

[2018-07-08 21:29] Ishinoshita commented on #1608
Cutoff is already what is done on resign game, with high computational benefit ( from 600+ moves down to ~175 moves). That's why we need to let some games unroll till end, to check the validity if the heuristic "if the value is below x%, that game can be safely resigned". Now, the question moves to what computational effort is needed to safely play a game till end, so that the outcome is reliable.

[2018-07-09 01:47] fell111 commented on #1599
Is it possible to use this patch to analyze old go games such as ear red move? It's kind of fun to re-ranking the old players.

[2018-07-09 02:06] ryouiki commented on #1557
@wonderingabout Here is LZ153 vs 20B v17

[LZ153vs20V17(v400).zip](https://github.com/gcp/leela-zero/files/2174400/LZ153vs20V17.v400.zip)

Feel free to request any SGFs you would like to see.

[2018-07-09 02:10] Splee99 commented on #1599
@Marcin1960 Yes you could make it conditional for handicap > 3. For handicap up to 3 I think using net_eval is sufficient.

I just finished 7 games between LZ and Hiratuka in 4 handicaps. LZ got 3 wins and 4 loses. Initially I was experimenting different win rate limits and the less optimal settings may affect the result. Anyway I found the best setting for the above matches is 0.45, 0.32, 0.2 (3

[2018-07-09 02:44] l1t1 commented on #1554
9日 14:00 腾讯AI大赛复赛第1轮 绝艺VS小爱 Leela VS石子旋风
9日 19:00 腾讯AI大赛复赛第1轮 绝艺VS小爱 Leela VS石子旋风
10日 14:00 腾讯AI大赛复赛第1轮 ELF VS章鱼 星阵VS AQ
10日 19:00 腾讯AI大赛复赛第1轮 ELF VS章鱼 星阵VS AQ
11日 14:00 腾讯AI大赛复赛第2轮 小爱VSAQ 石子旋风VS ELF
11日 19:00 腾讯AI大赛复赛第2轮 小爱VSAQ 石子旋风VS ELF
12日 14:00 腾讯AI大赛复赛第2轮 章鱼VS星阵 绝艺VS Leela

[2018-07-09 02:45] l1t1 commented on #1554
full schedule
http://weiqi.qq.com/news/9488.html

[2018-07-09 04:15] zliu1022 opened #1609 "Webgo - using leela-zero on your computer through web browser"
# Webgo

Using web browser to visit your computer which is running leela zero to analyse sgf.

So you can analyse all kifu anywhere.

[Webgo github reposity](http://github.com/zliu1022/Webgo)
![english](https://user-images.githubusercontent.com/3665494/42430192-48d436a6-8370-11e8-9881-b0d7a16d9453.PNG)
Enjoy!

@gcp @roy7 Thanks all the contributor again. This is only thing I can do for this commun

[2018-07-09 04:21] zliu1022 commented on #1393
Update again.
Each match is 1000 games, but some weights looks like duplicate move.

  | games(nodup) | total-rate(nodup)
-- | -- | --
elf | 682 | 49.6%
e1d46-0.13 | 769 | 76.6%
8ca0e-0.13 | 819 | 77.3%
67234-0.13 | 789 | 81.1%
v16-c010f-0.13 | 695 | 69.6%
12692-0.13 | 679 | 82.2%
2b80a-0.13 | 899 | 76.6%
c6e15-0.13 | 912 | 74.9%
5839e-0.13 | 646 | 81.9%
V15-fee68-0.13 | 811 | 73.9%
d0187-0.13 | 6

[2018-07-09 05:00] alreadydone commented on #1599
@guest88388 I tested Windows release and endgame-v0.3 outputs 0.15 in response to "version".
@fell111 [An analysis](https://lifein19x19.com/viewtopic.php?f=18&p=233730#p233730) of the ear-reddening move (again) has been done with the 0 komi version at https://github.com/alreadydone/lz/releases/tag/komi-v0.31.

[2018-07-09 05:32] guest88388 commented on #1599
@alreadydone  I see. I must press Enter twice.

[2018-07-09 05:37] bjiyxo commented on #1554
@herazul I didn't test the new 40b with the previous version, but it looked fine when it played with new ELF and Phoenix Go on the Fox Go.

[2018-07-09 05:38] Tsun-hung commented on #1573
Tomorrow is the application dealine.

[2018-07-09 07:37] l1t1 commented on #1609
nice job

[2018-07-09 07:52] Marcin1960 commented on #1599
@Splee99 "also I need to take care of locking issue just like mentioned in #1435."

Did you find a solution for the locking issue?

[2018-07-09 07:59] wonderingabout commented on #1557
thanks
another reason why i want them is because these sgf show more diversity than official matches

[2018-07-09 08:38] wonderingabout commented on #1557
btw i wanted to mention last time that arround 5-10% of the games in the old archive and this one to are wrongly resigned.
one side is clearly wining then resigns.
for example, look at leelazero-1.sgf in  the v17 archive

[2018-07-09 09:08] alreadydone commented on #1599
The crash with multiple threads when using get_pure_eval was solved with the last commits in that PR; there's no need to extend the lock so this fix has negligible effect on performance. However, @gcp doesn't like my solution; see #1567.

[2018-07-09 09:39] Marcin1960 commented on #1599
@alreadydone "The crash with multiple threads when using get_pure_eval was solved with the last commits in that PR; there's no need to extend the lock so this fix has negligible effect on performance."

May I ask, which place in the code is this solution? Which commit and which lines?

[2018-07-09 09:58] jkiliani commented on #1569
@bjiyxo's point still holds in my opinion. With process as slow as currently, you eventually get lucky passes. A change to LR and a plan to soon switch to 256x20 would make a lot of sense now.

[2018-07-09 10:06] l1t1 commented on #1569
![2018-07-09_180356](https://user-images.githubusercontent.com/23301704/42444391-7c9e4226-835f-11e8-8c3d-f24922f8c032.png)
promote too early, in next 58 games , need 30 win to pass, but only lost 28 will not pass

[2018-07-09 10:14] Marcin1960 commented on #1569
@jkiliani "A change to LR and a plan to soon switch to 256x20 would make a lot of sense now."

Perhaps **after** lowering LR gets exhausted, to **give a try** to lowering promotion limit to 52% or 51% for a week or so? It would not hurt, would it?

[2018-07-09 10:35] l1t1 commented on #1569
![2018-07-09_183136](https://user-images.githubusercontent.com/23301704/42445736-91682df8-8363-11e8-95e8-85c92723e31d.png)
final passed, we can wait for next 10 days.

[2018-07-09 11:03] l1t1 commented on #1554
round 1 game 1 , from http://weiqi.qq.com/qipu/search.html?title=leelazero
(;GM[1]FF[4]
SZ[19]
GN[2018腾讯世界人工智能围棋大赛循环赛第1轮第1局 9日14：00]
DT[2018-07-09]
PB[DolBaram]
PW[LeelaZero]
BR[9段]
WR[9段]
KM[375]HA[0]RU[Chinese]AP[GNU Go:3.8]RE[W+1.2]TM[1800]TC[5]TT[60]AP[foxwq]
;B[pd];W[dp];B[pp];W[dd];B[cn];W[fq];B[cc];W[cd];B[dc];W[fc];B[fb];W[gb];B[ec];W[fd];B[ed];W[ee];B[fe];W[ef];B[eb];W[hd];B[dk];W[qq];B[q

[2018-07-09 11:42] l1t1 commented on #1554
it seems lz 40b's style is different from lz 153 at the 4th moves [4,4,4,4,4,4] 4,3 vs 4,4
(;GM[1]FF[4]RU[Chinese]DT[2018-07-09]SZ[19]KM[7.5]PB[Leela Zero 0.15 7ff174e6]PW[Leela Zero 0.15 e1d466aa]RE[W+Resign]C[Leela Zero options: -p 0 -v 3200 -r 5 -m 0 -t 1 -d --noponder -s 168555778314285414 -g -q -w networks/7ff174e6ecc146c30ad1d6fe60a7089eacee65dfe4cce051bf24e076abfc0b68];B[pp];W[dp];B[pd];W[d

[2018-07-09 11:50] l1t1 commented on #1113
@roy7 Can you match new 20b v18 in queue?

[2018-07-09 11:56] kityanhem commented on #1554
@bjiyxo new ELF? Is ELF still training?

[2018-07-09 12:18] bjiyxo commented on #1554
@kityanhem It looked like ELF in Fox Go is much stronger than our open source version.

[2018-07-09 12:20] herazul commented on #1554
It would be interesting to know why

[2018-07-09 12:21] ThorAvaTahr commented on #1557
hmm that's frustrating, where does this happen? In official games too?

[2018-07-09 12:22] jillybob commented on #1554
https://github.com/pytorch/ELF/issues/66

from ELF authors. It is very likely that this news is a new network that they had developed.

[2018-07-09 12:22] ThorAvaTahr commented on #1557
(btw I would also resign if my opponent would continue playing in such a bad position :P , but I should assume leelaz has no such emotions :) )

[2018-07-09 12:46] john45678 commented on #1554
What I was wondering, since seeing their post (https://github.com/pytorch/ELF/issues/66), why would they not just say 'We have a new ELF net, more details after the competition'?

[2018-07-09 13:00] l1t1 commented on #1554
here are some more elf vs lz games
http://weiqi.qq.com/qipu/search.html?title=leelazero

[2018-07-09 13:38] diadorak commented on #1554
[Game 1 vs DolBaram](http://portal.yikeweiqi.com/online/golive/livedetail?id=9717&hall=1&room=5220216)

[Game 2 vs DolBaram](http://portal.yikeweiqi.com/online/golive/livedetail?id=9718&hall=1&room=5239190)

Two wins as expected.

[2018-07-09 13:50] Splee99 commented on #1599
@marcin1960 you can just copy the two source files in my gist with that already fixed. See above. However, there is some very rare occasion that it still may crash.

[2018-07-09 14:00] Eddh commented on #1554
Wow that second game seems like LZ playing around with DolBaram. I can't understand the comments though.

[2018-07-09 14:01] l1t1 commented on #1554
two games of fineart today
http://weiqi.qq.com/qipu/search.html?title=%E7%BB%9D%E8%89%BA

[2018-07-09 14:19] ashinpan commented on #1599
@alreadydone With your modifications, leela may be able to play handicap games more reasonably, but we still don't know if the original strength of the used network is damaged or not by dynamic komi. I suggest that a match be set up between original leelaz and leelaz modified for dynamic komi, both using the same network. If the modified version is still statistically equal in strength to the orig

[2018-07-09 14:29] Marcin1960 commented on #1599
@Splee99

Two files in your gist? Which? I will try to find them
I compiled your leela-zero-NN-eval-update (with "forgotten" commit.

Benchmark runs fine, but when I try to run the KGS bot I get this error:

FINE: Auth level is not ROBOT_RANKED, can only play free games
java.lang.NullPointerException
        at org.igoweb.igoweb.client.gtp.L.a(kgsgtp:445)
        at com.gokgs.client.gtp.C.a(kgsgtp

[2018-07-09 15:40] Splee99 commented on #1599
@Marcin1960 OK you may follow these steps:
1. Copy the entire source code from https://github.com/alreadydone/lz/releases/tag/komi-v0.31
2. Replace two source files downloaded from https://gist.github.com/Splee99/69c58d5150cf7221b0cff3e5ffebbe05
3. Compile the source code.
If there is any gtp communication issue, then @alreadydone may have changed the original gtp.cpp and I may have to take a look

[2018-07-09 16:20] Marcin1960 commented on #1599
I just copied these two files. So far works well! Thanks.

[2018-07-09 19:31] kityanhem commented on #1569
![image](https://user-images.githubusercontent.com/22489225/42471775-28dabe6e-83e9-11e8-8e87-4ca0b28d7a64.png)
Two nets appear in a row.
I feel like 15b no limit (just kidding!)

[2018-07-09 19:48] jpdoyle opened #1610 "Use Cross-Entropy instead of MSE for value loss"
This might be a suspect or controversial suggestion, but I think it has potential to seriously improve LZ's performance.

TL;DR the title -- if you want to interpret the value output as a "probability of winning", L2/MSE is simply *wrong*, and we should be using Cross-Entropy. Yes, MSE is how Alpha{Go,GoZero,Zero} do it. I think they've made a mistake, but are getting away with it because they hav

[2018-07-09 20:10] wonderingabout commented on #1569
![lz lol 1-1](https://user-images.githubusercontent.com/38690718/42473320-9ed66f02-83c4-11e8-9365-02238cfa37b0.PNG)

no promotion in 10 days, then 6 nets appear on a row.
it was so fast that 2 networks didnt have time to be promoted (one with 83%!!)
I feel like 15b no limit (just kidding @l1t1, i like your contributions on lz, so its a fun way to thank you)

[2018-07-09 20:37] Eddh commented on #1610
I guess this could be tested by training 2 supervised nets using the different loss functions ?

[2018-07-09 20:49] gcp commented on #1610
Yes.

In my experience, if you can get MSE to converge at all, it's not worse. There are network designs where cross-entropy converges easily and MSE is much harder to get going. But the AZ ones don't seem to be among them.

You should just implement this (trivial change to TensorFlow) and demonstrate that it works better, the theoretical argument is well known and really not interesting at all.

[2018-07-09 20:53] Marcin1960 commented on #1599
@Splee99 "the best setting for the above matches is 0.45, 0.32, 0.2"

These paramaters are great! LeelaZeroT is playing with them, first is/was against Entity 2 dan which took six stones. Very aggressive game.

[2018-07-09 20:54] gcp commented on #1569
I lowered learning rate at around 200k games, but 7ff1 passed while still using the old rate.

[2018-07-09 21:04] Splee99 commented on #1599
I'm glad it works :).

[2018-07-09 21:34] jpdoyle commented on #1610
If I understand how the supervised training data set is generated (I may not, I haven't dug into the code yet), the answer is "kinda". The value network's results should be slightly improved, but if you don't re-do the search, you will still have a computed policy distribution based on an MSE-trained value network. You may not see dramatic results until new self-play games generate searches based

[2018-07-09 21:38] Marcin1960 commented on #1599
Now "wr" command (show winrate) is not very meaningful. Any idea what to show instead?

[2018-07-09 21:42] wonderingabout commented on #1569
on a more serious note, i find it a bit strange that lz gets 2 (and maybe 3) promotions on a row after this 200k games stagnation
it could be possible that lz figured out a lot of things in the last few games, but i find this explanation strange and baseless.
or it is possible that one of the networks was a false positive, making it easier to be beaten once (and maybe twice)
this is all interestin

[2018-07-09 21:51] Eddh commented on #1569
@gcp What is the current learning rate ?

[2018-07-09 22:07] Splee99 commented on #1599
The first thing comes in mind is of course the "fictive" komi.

[2018-07-09 22:15] jokkebk commented on #1569
I’ve also wondered if there is a trend with many recent "long reigning champions" (networks that last 50k+ selfplay without losing 55% to anynew nets0 first being beaten, and then these new networks usually get beaten themselves in 5k games or so? "Revolution eats its children"?

Learning rate was not the culprit for many of these, as it was changed only now. Could be just random stuff ofc

[2018-07-09 23:00] Splee99 commented on #1599
I think winrate is as fictive as the komi. I'm not sure about the formula, but after the fictive komi is down to 7.5, you can report the winrate which is also the winrate the players used to see.

[2018-07-10 01:11] bjiyxo commented on #1554
It is a slightly different 40b weight with weaker machine.

[2018-07-10 02:05] l1t1 commented on #1569
@gcp why lower  learning rate can speed up promote?

[2018-07-10 02:22] jamesho8743 commented on #1554
@bjiyxo  Since you have 40b weight now, will you keep training on 20b? or just focus on 40b only?

[2018-07-10 03:40] bjiyxo commented on #1554
40b will be trained in priority.

[2018-07-10 03:43] NhanHo commented on #1569
@jokkebk that was actually fairly easy to explain: those cases were networks of the same training batch. As they were trained with more training steps on the same data, they got stronger.

<img width="556" alt="screen shot 2018-07-10 at 10 42 05 am" src="https://user-images.githubusercontent.com/2504203/42488062-0248c54e-842e-11e8-9bf7-8b11c191767a.png">

[2018-07-10 06:40] ryouiki commented on #1557
These diversity comes from lower visits.
It is why I test against multiple anchors to confirm strength.

FYI, I use option -r10 to speed up test while official matches use -r5.

[2018-07-10 09:29] Tsun-hung commented on #1569
@NhanHo  Do you have the plan to train new network of 128*6 using later raw data, as you have done to 64*5 network?

[2018-07-10 10:20] gcp commented on #1569
If we're in between your two examples, it's as if the parameters jump from one side of the ramp to the other, without going down (nor up). If you halve (or more) the step sizes, it will go right down to the bottom.

[2018-07-10 10:21] gcp commented on #1569
One other factor might be that on a new iteration the learning starts from the best network, so you're now starting the learning off of a very good spot. This could especially be true for 256k promotes.

[2018-07-10 10:22] gcp commented on #1569
0.0001 @ batch size = 256.

[2018-07-10 10:29] jkiliani commented on #1569
@gcp: Could you please queue @bjiyxo V18 for a match?

[2018-07-10 10:31] gcp commented on #1610
That's good but I can only observe that no-one (including you) has bothered testing it since it was posted months ago.

[2018-07-10 10:51] wonderingabout commented on #1557
i see, but the data should be taken with a 10% delta considering the wrongly resigned games, i think
however, it is interesting because of diversity

[2018-07-10 12:04] ryouiki commented on #1557
I'm testing 20B V18 and LZ#154. However, they are not performing well as expected so far..

[2018-07-10 13:16] l1t1 commented on #1557
@ryouiki you mean they both weaker than elo shows?

[2018-07-10 15:33] jokkebk commented on #1599
Could this patch be also used to make Leela play towards bigger win margin if ahead? It would likely result in more aggressive mid game and be as entertaining as high handi games. :)

[2018-07-10 15:52] Crazyeight101 commented on #1599
@jokkebk LZ already seeks large win margins.  It doesn't possess the behavior that AG Lee or Master did where it simplifies after taking a lead in fuseki and then tends towards small win margins.  All it takes is a quick look at games on go servers to see that the margins against human opponents are generally quite large, and most games end in resignation.  Even looking at the self-play games or t

[2018-07-10 16:51] godmoves commented on #1502
I'm so sorry for my delays in replying. I will check the code and try to fix it.

[2018-07-10 20:22] jpdoyle commented on #1610
The training data is (board state, game result, generated tree-search based probabilities), no? Using cross-entropy for value training could *only* change the value function unless it improves some sort of latent-space properties in the shared network. That is, without new training data generated with the new network, the policy would still be trained to match the next-move distribution generated

[2018-07-10 21:45] herazul commented on #1610
As someone who followed the project from start (pure curiosity, didn't contribute anything), i understand why he answered that way : It's not a personnal attack against you.
There is a lot of theory-craft of dozens of ideas on the sub. He DOESN'T have the time to code, try, and test them all, it's impossible for a human alone to do it. So the only way it can work is by presentiong results and evid

[2018-07-10 23:50] alreadydone commented on #1599
Latest official network 5fe5 exhibits serious non-monotonicity so it won't work well with dynamic komi. It's also an indication of overfitting, probably due to the lowering of learning rate.
![image](https://user-images.githubusercontent.com/3064145/42543417-ce503d7a-8479-11e8-919b-dd621356a724.png)

[wrout.zip](https://github.com/gcp/leela-zero/files/2182468/wrout.zip): Utility to test quality (f

[2018-07-11 00:18] Splee99 commented on #1599
@alreadydone Could you explain opp_komi little more? I see sometimes when "komi" is adjusted down, "opp_komi" is adjusted up considerably. Whenever I see "opp_komi" goes up to 300 it makes me quite nervous.

[2018-07-11 02:01] l1t1 opened #1611 "some one trained a 160x10b weight"
I download it from a qq group, it is said the strength is similar as the first 192x15b( lz117 )

[code]
the size of file is 21.7 MB, much smaller than 192x15b,

[2018-07-11 03:09] dvdkhlng opened #1612 "OpenCL error "in function XgemmBatched [..] unsupported initializer for address space""
Hi,

trying to run leela-zero using the open source driver mesa-opencl-icd 17.3.9 (backports on Debian Stretch), leela zero fails to compile the opencl code, failing with:

    Failed to find a working configuration.
    Check your OpenCL drivers.
    terminate called after throwing an instance of 'std::runtime_error'
      what():  Tuner failed to find working configuration.
    Aborted

I added

[2018-07-11 03:56] ThorAvaTahr commented on #1610
In addition, though many ideas are theoretically sound and may in fact be good improvements, the current set up is flight-proven and strongly optimized.
I have personally experienced, that it is very hard to compete with that setup. Any change would almost certainly decrease strength, before it can Improve anything.
Therefore i strongly support the, sometimes harsh, dogma by GCP that only theory t

[2018-07-11 04:05] alreadydone commented on #1599
@Splee99 The network inputs are from the view of the side to move (stm) (e.g. input planes 1-8 always indicate the stones of the side to move). In handicap games where komi is dynamically adjusted, at black's turns the stm is giving out a large komi (corresponding to very positive 17th plane input), and at white's turns the stm is receiving a large komi (very negative 17th plane input), and it tur

[2018-07-11 07:08] gcp commented on #1611
If there's a link we can test it. Might be good for mobile devices. Although the difference between the first 192x15 and 128x10 was ~300 self-play Elo, so given that this is bigger than 128x10, it looks not so exceptional.

[2018-07-11 07:17] gcp commented on #1610
That's fine. If the method is an improvement, the improved value targets would make it stronger. They can shift the policy targets in the next iterations. If the value network is not an improvement, it won't help policy iterations. So you should still be able to detect improvement from the value net only.

I'm not attacking the idea. I'm pointing out that unless someone tests it, no amount of writ

[2018-07-11 07:58] gcp commented on #1113
V18 is queued.

[2018-07-11 08:06] kaelkael09 opened #1613 "Problem install on mac by terminal"
After copy in terminal mac

git clone -b next https://github.com/gcp/leela-zero
		cd leela-zero/src
		brew install boost
______________________________________

Message error

-bash: stall: command not found

What do you do?

[2018-07-11 08:17] ryouiki commented on #1557
In my test, 20 block V18 was inferior to V17.
LZ nets get more winrates vs V18.

LZ# | vs 20B V17 | vs 20B V18
-- | -- | --
139 | 26.0% | 34.5%
144 | 30.5% | 31.0%
146 | 36.0% | 32.5%
150 | 43.5% | 46.5%
151 | 39.50% | 44.0%
152 | 39.50% | 40.5%
153 | 47% | 44.5%

_each cell represents winrate from 200 matches (400 visits)_

[2018-07-11 09:08] l1t1 commented on #1557
20b v18 failed at 0.3

[2018-07-11 09:54] jillybob commented on #1113
Why did v18 get such a poor score?

[2018-07-11 11:01] john45678 commented on #1113
"Why did v18 get such a poor score?"
I was surprised as well, V17 just over a week ago got 57%.

[2018-07-11 11:21] gcp commented on #1613
Where is it failing?

There's nothing in leela-zero that should produce that error AFAIK, so this looks like a problem with Homebrew.

[2018-07-11 12:09] bjiyxo commented on #1113
I don't know either. It doesn't look like opening problems. I will match v18 vs v17 by myself to check if there is anything wrong.

[2018-07-11 14:01] Marcin1960 commented on #1610
@jpdoyle "up until after that point, but I'll see what I can do! "

By  all means, do it. One can wait :)

[2018-07-11 14:31] MarcelGruenauer commented on #1613
I assume that the "stall" is the last part of the word "install" and that something got lost in the copy-paste.

[2018-07-11 14:40] alphaladder commented on #1611
it is a junk

[2018-07-11 15:11] godmoves commented on #1610
I think something similar is mentioned in [this paper](https://arxiv.org/pdf/1705.08439.pdf), they invent an algorithm to play the game Hex, which is similar to the alphago zero one, but use cross entropy rather than MSE loss for the value part. So I think cross entropy may also work for this kind of problems, although they don't test the differences in performance.

Another interesting thing is t

[2018-07-11 15:55] ryouiki commented on #1113
https://github.com/gcp/leela-zero/issues/1557#issuecomment-404084830
I tested V18 vs various LZ nets, and it's performance was not better than V17.

[2018-07-11 17:22] Marcin1960 commented on #1599
What do you think about this rough "calculation" of win rate to give users some idea? Will it make them happy? :)

cmdstream >> tmp; // eat message
if (tmp == "wr")
	{
		**float tempwinrate;
		tempwinrate = 7.5 / komi_buffer;
		tempwinrate = tempwinrate * leela_win;**

		if (komi_buffer > 7.5) {
			gtp_printf(id, "move %d, estimated winrate = %6.3f%%, playouts %d", game.m_movenum, tempwinrate, lee

[2018-07-11 17:42] bjiyxo commented on #1113
I tested V17:V18 with 3200v and the result is 51:50, so it looked like they were quite equal. I will train the next version and check if it is stronger.

[2018-07-11 18:22] Splee99 commented on #1599
Yes I think it is reasonable. There might be some fluctuation at the moment when the komi is adjusted, but that's ok.

[2018-07-11 19:58] Splee99 commented on #1599
@Marcin1960 So far I only see the weight e1d4 is good in handicap games. Maybe you should keep using it for LeelazeroT.

[2018-07-11 21:56] bjiyxo commented on #1113
@wonderingabout You're right, but I only have a few machines to test. So what I'm doing is check if V18 is much weaker than V17, and it seems it's not. Therefore, I will keep training on V18 and observe what happened there.

[2018-07-11 22:03] john45678 commented on #1113
@bjiyxo  would it be a good idea to ask @gcp to run the test again? (this time against 834f35).

[2018-07-11 22:12] Marcin1960 commented on #1599
@Splee99 "weight e1d4 is good in handicap games"

Better than 834f35fa? Why do you think so?

[2018-07-11 22:44] Splee99 commented on #1599
It's based on the 4h games with Hiratuka again. With 834f LZ couldn't get a win with 6000 playouts, while e1d4 can get a win with 4000 playouts with the same settings. I didn't run a lot of games since each game took nearly one hour.

[2018-07-11 23:39] Splee99 commented on #1599
Wrout reported that e1d4 is OK for dynamic komi, but 834f is unusable at 4 handicaps (picture for 834f):
![untitled](https://user-images.githubusercontent.com/35020997/42604651-c659f5a2-8528-11e8-81b6-2fb90fbded69.png)

[2018-07-11 23:44] l1t1 commented on #1611
upload to https://userscloud.com/etb84gl5ucue

[2018-07-12 00:20] pcengine commented on #1599
@Splee99  Thanks a lot. Could you please run a quick test on 7ff1 or 5fe5?  I've tried Wrout but it didn't work. It says file libopenblas.dll is missing.  Any idea where can I find that .dll file and where should I put it?

[2018-07-12 00:51] Splee99 commented on #1599
@pcengine 5fe5 was already tested by alreadydone. See above. libopenblas.dll should be on the same directory as leelaz.exe. You can find it under the Leela zero release folder together with autogtp etc.

[2018-07-12 00:59] bjiyxo commented on #1113
I don't want to use public resources frequently, so I think running the next version 20b match will be much better.

[2018-07-12 01:03] Splee99 commented on #1599
The weight 7ff1 is considered mediocre.
![7ff1](https://user-images.githubusercontent.com/35020997/42606873-aebb5ab0-8534-11e8-8ecb-a473faeec98a.png)

[2018-07-12 01:18] pcengine commented on #1599
@Splee99  Thank you. I followed your instructions and put the wrout2 file under the leelaz folder. But when I ran wrout2 and typed heatmap, it only gave back a board heatmap like below.. Is this correct?
How can I judge whether some networks are good or not?

heatmap
0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
0   0   1   1   2   1   1   1   1   1   1   1   1   1   1

[2018-07-12 01:51] pcengine commented on #1599
@Splee99  I use Drago, but will try Sabaki after work and we will see what happens. Thanks again for your help.

[2018-07-12 01:55] anonymousAwesome commented on #1554
Is it just me, or do the openings chosen by Baduki look suspiciously familiar?

[2018-07-12 02:22] gjm11 commented on #1599
All those ugly nonmonotonicities seem to happen (at least for recent LZ networks) only once you get to pseudo-komi of ~100 points or more. Just how badly would it hurt to restrict the pseudo-komi to the -100..+100 range?

[2018-07-12 02:59] Splee99 commented on #1599
So far all the negative sides are monotonous. It would be great if the program can use that part only.

[2018-07-12 03:03] pcengine commented on #1599
@Splee99
I 've tried Sabaki, and it worked!  I've tested several recent networks and all of them gave me back like
**Weight file is of mediocre quality for dynamic komi......**  Have you found anything different? I mean, other than mediocre?

[2018-07-12 03:33] Splee99 commented on #1599
834f is unusable.

[2018-07-12 06:30] Marcin1960 commented on #1599
@Splee99

 I will use e1d4 then.

Thank you all.  Very interesting.

[2018-07-12 06:43] alreadydone commented on #1599
@pcengine The PhoenixGo weight is actually perfect in the sense that it's strictly monotone in the range [-300,300]. I wonder how they trained it, or maybe it's because the pre-activation resnet design.
Negative komi total score: 1.100574e-09 (this is the difference between 1 and winrate at -300 komi, plus total increase in winrate (=0 for Phoenix))
Positive komi total score: 1.492425e-07 (this is

[2018-07-12 08:03] l1t1 commented on #1554
lz vs fineart
http://portal.yikeweiqi.com/online/golive/livedetail?id=9747&hall=1&room=5294353

[2018-07-12 08:20] wonderingabout commented on #1599
i think  the big question now is how can the training influence the monotonousity of a network

experimenting and searching in this area could make us understand things we didnt know or expect about how a network works, with the idea of using it to achieve what we want

[2018-07-12 08:29] Eddh commented on #1113
How are ELF games used in the training of v18 ?

[2018-07-12 08:42] pcengine commented on #1599
@alreadydone  Thank you for your kindly reply. I still have a few questions.

1.  When you say PhoenixGo weight, which one are you referring to? It seems there are a few different  PhoenixGo weights. Are you referring to this one? https://github.com/gcp/leela-zero/issues/1477
We just need to download that network and use it as a regular LZ network running your dynamic komi leelaz, right? Which one

[2018-07-12 09:08] fishcu commented on #779
Hi @evdwerf, thanks for your great app!
Could I ask that you add the "handicapable" version of leela zero that was recently developed to your webserver of installable engines? I am talking about #1599.
Maybe @Marcin1960 's settings could be followed, since he already tested it on KGS and reported a good handicap performance. He mentions some exact settings for example here: https://github.com/gcp/

[2018-07-12 09:15] infinity0 commented on #1612
I am a Debian Developer trying to package this for Debian and get the same problem with mesa-opencl-icd 18.1.3-1 in Debian. Removing "volatile" makes the tests work, as described by OP. Is it safe to apply the workaround in Debian?

[2018-07-12 10:12] alreadydone commented on #1599
@pcengine
1. Yes it's #1477. It's a 19b256f weight file, downloadable from https://github.com/yenw/LeelaZero_PhoenixGo/, but can only be used with the modified Leela Zero engine there. (I think it's converted from https://github.com/Tencent/PhoenixGo/releases/tag/trained-network-20b-v1 and I don't know about another PhoenixGo weight file.)  For the dynamic komi versions of this engine, see https:/

[2018-07-12 10:16] ryouiki commented on #1611
A quick test shows it's winrate against LZ#116(128x10 best) is 62% (200 games, -v400)
But it failed to defeat early 192x15 nets.

[2018-07-12 10:29] l1t1 commented on #1611
@ryouiki  thanks

[2018-07-12 10:46] pcengine commented on #1599
@alreadydone
Great! Thank you for your explanation. I can't wait to see your next release. By the way, do you think it's a good idea to make a FAQ or readme file for this whole dynamic komi thing? I am suggesting this because It works really nice for most human players, but I am afraid that probably not everyone is very clear about the concepts and terms of your work. Providing a FAQ or readme fil

[2018-07-12 10:48] gcp commented on #1612
That's strange. I had success with Mesa 18.0, though this was on an Arch machine.

I would recommend against it since it will make performance worse for people that have correctly working drivers.

[2018-07-12 11:06] Friday9i commented on #1554
Thanks @l1t1 : could you please confirm it means Fineart won by resign after its move 138?
It was expected, but  ;-(

[2018-07-12 11:29] l1t1 commented on #1554
save the html file, open it with notepad, you can get sgf
http://weiqi.qq.com/qipu/newlist/id/2018071255311577.html

[2018-07-12 12:44] alreadydone commented on #1599
https://github.com/alreadydone/lz/releases/tag/phoenix-v0.33 is updated with the limit on options considered for each move. A brief readme.txt is included.

[2018-07-12 13:07] l1t1 commented on #1554
http://weiqi.qq.com/qipu/newlist/id/2018071275588855.html

[2018-07-12 14:04] diadorak commented on #1554
LZ lost both games to Fine Art
[game 1](http://portal.yikeweiqi.com/online/golive/livedetail?id=9747&hall=1&room=5294353)
[game 2](http://portal.yikeweiqi.com/online/golive/livedetail?id=9748&hall=1&room=5296047)

[2018-07-12 14:05] diadorak commented on #1554
@nukee86 There is no limit on hardware.

[2018-07-12 14:13] ashinpan commented on #1554
If Fine Art has 80 blocks as some said, its network capacity is double of LZ, so not surprising.

[2018-07-12 18:23] Cabu opened #1616 "Autogp crash on Windows XP 64"
When starting autoGP i receive the following error:
The procedure entry point CancelIoEx could not be located in the dynamic library KERNEL32.dll.

[2018-07-12 18:32] nukee86 commented on #25
I struggle all day trying to do supervised learning.  I downloaded a couple of sgf's and did:

dump_supervised bigsgf.sgf train.out
exit

The output has no win %(as I can see raw training data from http://leela.online-go.com/training/ have win % inside), which I think is ok, right?
Now, after I run:

the script got stucked all the time at:

Training with 64 chunks, validating on 7 chunks
Using 4 w

[2018-07-12 18:50] qzq1 opened #1617 "700+ move games with plays on first line"
I hope posting a question here isn't clogging things up, but I'm curious about something.  I have been running autogtp successfully via Colab.  I have seen a number of instances in which a game runs for more than 700 moves, exhausting all legal moves by one side.  These games also (always?) have a number of early moves on the first line, distant from any other stones.  I have a few questions, in m

[2018-07-12 19:05] Hersmunch commented on #1617
See the most recent discussion about this https://github.com/gcp/leela-zero/issues/1608

[2018-07-12 19:09] jokkebk commented on #1442
Just a philosophical side thought: it might depend on playing style after opening which joseki ends up as "final" version. I could imagine some form of go AI playing a different type of game than AGZ but even on higher level, and not "finding" this particular joseki.

[2018-07-12 20:10] Hersmunch commented on #1617
I should have also mentioned that first line moves occur during self-play games due to added noise and randomness to the move selection. This allows a wide variety of games for the training to be performed on and therefore the knowledge learned has more chance of being generalised.

[2018-07-13 00:18] jillybob commented on #1599
How do I run this in GTP mode to work with sabaki?

[2018-07-13 00:21] l1t1 commented on #1616
windows 2003 r2 win2018 also error

[2018-07-13 00:56] alreadydone commented on #1477
My [phoenix-orig branch](https://github.com/alreadydone/lz/tree/phoenix-orig) is based on @yenw's source code and aims to faithfully port the original settings of PhoenixGo. So far changes includes:
+ no fpu reduction, fpu = dynamic root eval
+ c_puct = 1.25 instead of 2.5 (PhoenixGo uses eval in [-1,1], not [0,1])
+ softmax_temp = 1 instead of 0.67 (enable_policy_temperature is false in PhoenixGo

[2018-07-13 01:31] jillybob commented on #1599
@alreadydone  This is not an issue with Phoenix Go, as I can get a list of commands, I am able to run Phoenix Go with its own program and its own weights. I can not run your program
Image: Me running the Official PhoenixGo GTP engine vs running your modified engine.
https://i.imgur.com/lSSFX0q.png

[2018-07-13 01:38] pcengine commented on #1599
@alreadydone I'm have the same question as jillybob mentioned above. I can run Phoenix Go with its own program and its own weights, but I can't run your program. It actually runs (displaying possible move positions and playout counts), but fails to generate the first move.

[2018-07-13 02:14] infinity0 commented on #1612
@dvdkhlng can you show me the code you used to do the dumping? Perhaps my error with 18.1.3 is different from what yours was.

[2018-07-13 02:15] infinity0 commented on #1612
On second thoughts, probably not, since your workaround *did* work for me too...

[2018-07-13 02:54] alreadydone commented on #1599
I think @jillybob is running the official LeelaZero_PhoenixGo, not the official PhoenixGo at https://github.com/Tencent/PhoenixGo/releases/tag/win-x64-gpu-v1. My version runs OK on my machine. I think probably you are missing some dlls. The official LeelaZero_PhoenixGo is 18MB+ in size, so it might "contain" some dlls. I suggest that you unzip my release into the folder containing gcp's released l

[2018-07-13 02:54] infinity0 commented on #1612
@gcp Can you try again on your Arch machine? Debian's [mesa 18.1.3 patches](https://sources.debian.org/src/mesa/18.1.3-1/debian/patches/) and Arch's [mesa 18.1.3 patches](https://git.archlinux.org/svntogit/packages.git/tree/trunk?h=packages/mesa) are slightly different but the differences don't seem related. So I don't know why it would work for you but not me.

My gfx card is AMD Radeon RX 580 Se

[2018-07-13 06:50] Marcin1960 commented on #1599
@alreadydone  "official LeelaZero_PhoenixGo"

How will it run with 15x192 net? (my PC is too slow to run bigger net)

[2018-07-13 07:00] alreadydone commented on #1599
@Marcin1960 It's designed to use the LZ engine to run the only released PhoenixGo model, which is 256x19. It doesn't recognize LZ weights.

[2018-07-13 07:45] jokkebk commented on #1291
@y-ich great work! Games looked nice, and I lost against it, which is to be expected.

Special thanks for using jGoBoard, nice to see my library in use!

[2018-07-13 07:46] l1t1 commented on #1554
game5
http://foxwq.com/qipu/newlist/id/2018071356623632.html
(;GM[1]FF[4]
SZ[19]
GN[2018腾讯世界人工智能围棋大赛循环赛第3轮第1局 13日14：00]
DT[2018-07-13]
PB[Baduki]
PW[LeelaZero]
BR[9段]
WR[9段]
KM[375]HA[0]RU[Chinese]AP[GNU Go:3.8]RE[W+R]TM[1800]TC[5]TT[60]AP[foxwq]
;B[dp];W[pd];B[pp];W[dd];B[nc];W[qf];B[cf];W[fc];B[cn];W[qn];B[qo];W[pn];B[np];W[pj];B[ef];W[lq];B[iq];W[or];B[oq];W[nr];B[pr];W[qq];B[ro];W[qr];B[pq];W[

[2018-07-13 08:12] Marcin1960 commented on #1599
Is it possible to switch nets in the middle of the game?

[2018-07-13 08:55] alreadydone commented on #1599
Current leelaz doesn't support switching nets after startup. You may post a separate issue if desired.

[2018-07-13 08:57] l1t1 opened #1619 "4f6f0b3d's winrate never down 0.51, but failed"
http://zero.sjeng.org/match-games/5b4836932f06263c66be95c2

Game | Win Rate | Match Hash | Winner | Score | Move Count | Duration | Download | Client | Version
-- | -- | -- | -- | -- | -- | -- | -- | -- | --
321 | 51.71% | 33ec1fa17b2501f56c4f1c5aef0b742c | 834f35fa | W+Resign | 251 | 7.4 minutes | sgf | 3 | 16
353 | 51.84% | e4aa1d2ce0726743fcbab30a9d854844 | 834f35fa | B+Resign | 210 | 12.8 minu

[2018-07-13 10:02] jkiliani commented on #1619
And your point is... ? Of course it failed, since it never reached an SPRT pass, or 55% at 400+ games.

[2018-07-13 13:08] l1t1 commented on #1554
game 6
http://weiqi.qq.com/qipu/newlist/id/2018071375107090.html

[2018-07-13 13:45] roy7 commented on #1554
@nukee86

The hardware is whatever they want to use, in Chess things are more standardized, eventually Go will be the same I bet. However note Leela is going to take time to think no matter how fast the hardware is, Leela uses good time management. More power just means more search during the same amount of time, not less time thinking, when not using playout/visit caps.

[2018-07-13 14:21] gjm11 commented on #1619
As a general point, I would strongly encourage people submitting issues here to _be clear and explicit_ about what problem they've found or what thing they suggest should be done differently.

"This network's winrate was never below 51% but it didn't pass" isn't, on the face of it, a problem. If you think it's a problem, you need to say why. What did you hope would be different and why?

So, e.g.,

[2018-07-13 18:00] qzq1 commented on #1619
Though I trust statistical formulas, I have nonetheless found it instructive to simulate match play, which has illustrated to me that there are many ways to get to a 55% win rate over 400 games.

I know this has already been thrashed out elsewhere, but my simulations of gating has convinced me that even moving to 54% from 55% would likely increase the rate of improvement substantially.  It all dep

[2018-07-13 18:22] PhilipFRipper commented on #1619
Please god stop bringing this stupid thing up.  Go put it in the correct thread at minimum.

[2018-07-13 18:54] qzq1 commented on #1619
Please god keep your charming comments to yourself.

[2018-07-13 19:06] #1619 closed

[2018-07-13 19:22] #1617 closed

[2018-07-13 20:14] wonderingabout commented on #1619
long story short story : if you want to lower gating, you need to increase number of games to keep statistical significance

for example to have the same significance at 55%/400 games you'd need something like :
54%/550 games
53% 700 games
52% 1000 games
i didnt do the math but something arround that

[2018-07-14 00:32] l1t1 commented on #167
all.sgf.xz 2974907500 2018-Jul-11 12:20
all_match.sgf.xz 115062908 2018-Jul-11 12:21

[2018-07-14 07:39] l1t1 commented on #1602
I  see the https://egc2018.it/files/schedule.html, when will you make the presentation?

[2018-07-14 09:29] lp200 commented on #1109
Three-Head Neural Network Architecture for Monte Carlo Tree Search
https://www.ijcai.org/proceedings/2018/0523.pdf

[2018-07-14 16:32] Splee99 commented on #1599
After many games I'm a little disappointed with this approach when LZ plays with ELF 1 playout. Like I reported earlier in reddit:
https://www.reddit.com/r/cbaduk/comments/8tnpas/how_strong_is_lzelf_with_only_one_playout/
LZ with the modification #1435 and #1514 was able to win a 5 handicap game in 3000 playouts. I tried several different settings with the komi approach, but even with 6000 playout

[2018-07-14 17:14] infinity0 opened #1622 "Please make http://zero.sjeng.org/best-network available on HTTPS"
HTTPS provides not just encryption but also integrity, i.e. prevents network attackers from tampering with the traffic.

It is not clear whether the network file could be an exploit vector (does leelaz unconditionally "execute" its contents, or perhaps deference pointers based on its contents) and so providing this file over HTTPS would give some more assurance to users that the process is safe.

[2018-07-15 10:05] l1t1 commented on #1619
050375ce  http://zero.sjeng.org/match-games/5b4b11d52f06263c66c4c197

[2018-07-15 10:36] tterava commented on #1622
The weight file is a text file with numbers in it. The worst case scenario is that an attacker changes those numbers and LZ doesnt play as well.

[2018-07-15 11:05] Ishinoshita commented on #421
Can someone briefly explain how, at training server side, are -r 0 self-play games used to monitor the false positive rate and consequently the validity of the resign threshold ?
In almost all issues I found related to resign threshold analysis, it seems to me that some of you generated a bunch if -r 0 self-play games with debug enabled, then used the python script to produce stats. I haven't been

[2018-07-15 11:34] Hersmunch commented on #421
As far as I know, it isn't. I think it would be of interest though https://github.com/gcp/leela-zero-server/issues/33.

I haven't looked myself but @Nazgand commented recently that it is 20% https://github.com/gcp/leela-zero/pull/1581#discussion_r200828323

As I understand, no resign games are useful for two things; analysis of the wrong resign rate & resign threshold as well as to provide extra d

[2018-07-15 11:47] wonderingabout commented on #1569
lz just got a new promotion, interesting to see
and since its been 400k games and 4 new networks, is it the right time to redo an elf match or should we wait for one more network ?

[2018-07-15 14:58] infinity0 commented on #1622
All data is "text", it matters how the code interprets it. For example if the code makes an assumption that the numbers are between 0 and 1 and then does something like `array[round(size * weight)]` then that's equivalent to arbitrary code execution.

Where is the SHA-256 securely published?

[2018-07-16 02:20] l1t1 commented on #1569
lz 156 vs elf winrate 23%

[2018-07-16 03:46] guest88388 commented on #1622
The filename is the SHA-256, too.

[2018-07-16 05:08] Mardak commented on #1569
Anyone know if ELF is correctly resigning in the 300+ move games?

http://zero.sjeng.org/match-games/5b4be7022f06263c66c692a7

http://zero.sjeng.org/viewmatch/580fc26fdfa45d8707374cef8018a03424df3d06eff03cd0c68fa295da6132b9?viewer=wgo
http://zero.sjeng.org/viewmatch/695570224e2b2a9e617afb9e411821787afa9b357ed5da2b044aae3382f45c4f?viewer=wgo

Looking at the average network eval (no search), ELF thi

[2018-07-16 05:24] ChinChangYang commented on #1569
To self-prove the resign is correct or not, Leela Zero can continue the game without resigning? Then, scoring from the endgame to see which side (black or white) wins.

[2018-07-16 06:07] Tsun-hung commented on #1611
4 blocks?

[2018-07-16 06:44] l1t1 commented on #1611
the trainer says 256x4 's  strength is similar to lz 116

[2018-07-16 07:14] tterava commented on #1610
I'd like some help testing this out. I've downloaded roughly 500k latest self play games and I'm trying to modify the training to use cross-entropy as suggested. However I'm not sure how to modify the training. I tried doing this:

[code]
Basically i just copied what the policy head was doing as it's already using cross entropy. However the value head reports 0 loss during training so there's some

[2018-07-16 07:45] Ttl commented on #1610
As the function name hints, `softmax_cross_entropy_with_logits` calculates cross entropy of softmax logits. Since you have only one class taking softmax gives 1 for every input.

Take a look at `tf.nn.sigmoid_cross_entropy_with_logits` instead. Note that you need to scale labels to [0, 1] since they represent a probability distribution. `logits` must be taken before the `tanh` of the value head si

[2018-07-16 08:42] wonderingabout commented on #1569
some games are wrongly resigned, but it is less than 5% generally, so on 400 games we can assume the number of wrongly resigned games is the same
so, with a delta of arround 5%, it seems leela zero got significantly stronger in the last 400k games

[2018-07-16 08:57] nukee86 commented on #1554
Dunno if you've been watching LZ vs ELF, but after move 227 by ELF, newest network thought it's 48% winrate, then suddenly LZ played misclick one to the left of what was suggested, and winrate dropped to 6%. LeelaZ 0-1 ELF

[2018-07-16 09:02] herazul commented on #1554
i find it quite difficult to know what's going on in AI go tournaments as a westerner.
Is there something ([like this for exemple](https://liquipedia.net/dota2/Supermajor/2018)) where there would be all the information about the tournament, teams, groupe stage, brackets, results, links to games, ...
It would be very useful to follow this !

[2018-07-16 09:18] ashinpan commented on #1554
@nukee86  According to the original announcement (the first post), the second stage is played online. If everything is automated (like TCEC chess), a misclick is not possible. But if humans have to make moves, of course it is possible.

[2018-07-16 09:45] l1t1 commented on #1554
http://weiqi.qq.com/qipu/newlist/id/2018071660650314.html
lz vs elf

[2018-07-16 09:55] diadorak commented on #1554
It's played using GTP.

[2018-07-16 10:39] tterava commented on #1610
It's been quite some time when I last worked with TF and i misunderstood that labels already had 2 classes. So am I understanding correctly that first I have to rescale and shape the label so that `1  ->  [1, 0]` and `-1  ->  [0, 1]`? Then I can do the same with the value head and get loss with `softmax_cross_entropy_with_logits` ?

[2018-07-16 11:12] l1t1 opened #1625 "what is the aim of next gen of weight?"
is the aim to produce much stronger with weight bigger size or not so much stronger and keep the size increases small ?
and also care about the speed of promotion?
some possible size
192x20
224x20
256x15
256x20

[2018-07-16 11:52] tterava commented on #1610
Ok it's a bit of a hack but here's what I did:
`v_labels = tf.concat([(self.z_ + 1.0) / 2.0, (self.z_ - 1.0) / -2.0], 1)`
`v_logits = tf.concat([(self.z_conv + 1.0) / 2.0, (self.z_conv - 1.0) / -2.0], 1)`

This turns `[ [1], [-1], [1] ... ]` into `[ [1, 0], [0, 1], [1, 0] ... ]`
Or [ [0.8], [-0.5] ... ] into [ [0.9, 0.1], [0.25, 0.75] ... ]

If i understood correctly, self.z_conv also gives win pe

[2018-07-16 12:29] gcp commented on #1625
We'll do 256x20 next at v=1600.

We can do small increases as parallel training can somewhat point out when a lot is being left on the table by the network being too small.

[2018-07-16 12:40] Marcin1960 commented on #1625
Would it be possible to check 224x15 or 192x20 first, please?

With 256x20 I would have to buy a new computer :(

[2018-07-16 12:42] herazul commented on #1625
Why would you ? If the network is better at equal think time, the same hardware is gonna give better result.

[2018-07-16 12:43] featurecat commented on #1625
your computer can't run that size at all? or it is only slow?

[2018-07-16 12:46] Marcin1960 commented on #1625
@herazul & @ferazul

Too slow, too few playouts, drops a few stones down. I checked several times.

[2018-07-16 12:47] jkiliani commented on #1625
@gcp Sounds great, but what is the current plan regarding this? Are we continuing to test @bjiyxo's networks until one is "enough" stronger to justify switching? Or are you training up a bootstrap net as well?

[2018-07-16 12:50] featurecat commented on #1625
It will probably be stronger anyway Marcin, with same thinking time.

[2018-07-16 12:50] herazul commented on #1625
@Marcin1960 What hardware do you have ? I find it weird that your hardware can't run a 20x256 net, even my smartphone can run it with 300+ playouts, that's enough to have a VERY good net strengh (according to dontbtme, even 40 playout is enough to beat leela11, 300 is very strong.) And it's only a smartphone !